{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb, form_group %}


{% set title = "Statistics" %}


{% block title %} {{ title }} {% endblock %}

{% block breadcrumb %} {{ breadcrumb([('', title)]) }} {% endblock %}


{% block content %}

  {{ super() }}

  <h3 class="page-title">{{ title }}</h3>

  <div class="row">
    <div class="col-sm-5">
      {% if participant_categories.count() %}
      <table class="table table-bordered">
        <thead>
          <tr class="row">
            <th class="col-sm-6">Categories</th>
            <th class="col-sm-4">Data type</th>
            <th>Total</th>
          </tr>
        </thead>

        {% for category in participant_categories %}
          <tr class="row">
            <th rowspan="2" class="col-sm-6">{{ category.title.english }}</th>
            <td class="col-sm-4">Countries</td>
            <td>{{ category.participants.filter_by(deleted=False)|countries|length }}</td>
          </tr>

          <tr class="row">
            <td class="col-sm-4">Delegates</td>
            <td>{{ category.participants.filter_by(deleted=False).count() }}</td>
          </tr>
        {% endfor %}

        <tr class="row">
            <th class="col-sm-6"></th>
            <th class="col-sm-4">Total Delegates</th>
            <th>{{ total_delegates }}</th>
        </tr>

      </table>
      {% endif %}
    </div>

    <div class="col-sm-4 col-sm-offset-1">
      {% if media_categories.count() %}
      <table class="table table-bordered">
        <thead>
          <tr class="row">
            <th class="col-sm-8">Media categories</th>
            <th class="col-sm-4">Total</th>
          </tr>
        </thead>

        {% for category in media_categories %}

        <tr class="row">
          <td class="col-sm-8">{{ category.title.english }}</td>
          <td class="col-sm-4">{{ category.participants.filter_by(deleted=False).count() }}</td>
        </tr>

        {% endfor %}

      </table>
      {% endif %}
    </div>

    {% if sex_field %}
      <div class="col-sm-4 col-sm-offset-1">
        <table class="table table-bordered">
          <thead>
            <tr class="row">
              <th class="col-sm-8">Gender</th>
              <th class="col-sm-4">Total</th>
            </tr>
          </thead>

          <tr class="row">
            <td class="col-sm-8">Female</td>
            <td class="col-sm-4">{{ female_delegates }}</td>
          </tr>
          <tr class="row">
            <td class="col-sm-8">Male</td>
            <td class="col-sm-4">{{ male_delegates }}</td>
          </tr>
          <tr class="row">
            <td class="col-sm-8">Neutral / Rather not say</td>
            <td class="col-sm-4">{{ neutral_delegates }}</td>
          </tr>

        </table>
      </div>
    {% endif %}
  </div>

{% endblock %}
