{% extends "_layout.html" %}
{% from "_bits.html" import breadcrumb, form_group,
                            form_group_with_list_inputs %}


{% set title = 'Edit meeting (%s)'|format(g.meeting.acronym)
               if g.meeting else 'Add a new meeting' %}


{% block title %} {{ title }} {% endblock %}


{% block scripts %}

  {% assets "datepicker" %}
     <script src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script>
    $(function () {
      $(".picker").datetimepicker({pickTime: false});
    });
  </script>

{% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [(url_for('.home'), 'Meetings'), ('', title)] ) }}

{% endblock %}


{% block content %}

<div class="meeting-container">

  <div class="page-header">
    <h2>{{ title }}</h2>
  </div>

  <form class="form-horizontal" role="form" method="POST">

    <div class="panel panel-default">

      <div class="panel-heading">
        <b>{{ form.title.label.text }}</b>
      </div>

      <div class="panel-body">
        {{ form_group(form.title.english) }}
        {{ form_group(form.title.french) }}
        {{ form_group(form.title.spanish) }}
      </div> {# panel-body #}

    </div> {# panel #}

    <div class="panel panel-default">

      <div class="panel-heading">
        <b>{{ form.badge_header.label.text }}</b>
      </div>

      <div class="panel-body">
        {{ form_group(form.badge_header.english) }}
        {{ form_group(form.badge_header.french) }}
        {{ form_group(form.badge_header.spanish) }}
      </div> {# panel-body #}

    </div> {# panel #}

    <div class="panel panel-default">

      <div class="panel-heading">
        <b>Venue</b>
      </div>

      <div class="panel-body">

        {{ form_group(form.venue_address, class_="autosize") }}

        {{ form_group(form.venue_country) }}

        {{ form_group_with_list_inputs(form.venue_city) }}

      </div> {# panel-body #}

    </div> {# panel #}

    <div class="panel panel-default">

      <div class="panel-heading">
        <b>Meeting Date</b>
      </div>

      <div class="panel-body">

        {{ form_group(form.date_start,
                      label_size="2", input_size="3",
                      class_="picker",
                      options={"data-date-format": "DD.MM.YYYY"}) }}

        {{ form_group(form.date_end,
                      label_size="2", input_size="3",
                      class_="picker",
                      options={"data-date-format": "DD.MM.YYYY"}) }}
      </div>

    </div> {# panel #}


    <div class="panel panel-default">

      <div class="panel-heading">
        <b>General</b>
      </div>

      <div class="panel-body">
        {{ form_group(form.meeting_type,
                      label_size="2", input_size="3") }}
        {{ form_group(form.acronym,
                      label_size="2", input_size="3") }}
        {{ form_group(form.online_registration) }}
        {{ form_group(form.owner_id,
                      label_size="2", input_size="3") }}
        {{ form_group(form.settings, class_="settings") }}
      </div>

    </div> {# panel #}

    <div class="form-actions row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary">
          Save changes</button> <small>or <a href="{{ url_for('.home') }}">Cancel</a></small>
      </div>
      {% if g.meeting %}
        <div class="col-sm-6 text-right">
          <a class="delete" data-toggle="delete"
             data-href="{{ url_for('.edit') }}"
             data-message="Are you sure you want to delete this meeting?">
            <span class="glyphicon glyphicon-remove"></span>
            Delete this meeting</a>
        </div>
      {% endif %}
    </div>
  </form>

</div> {# /.meeting-container #}

{% endblock %}
