{% extends "_layout.html" %}
{% from "_bits.html" import breadcrumb, form_group, form_group_with_list_inputs %}

{% if g.meeting %}
  {% set title = title ~ ' (%s)'|format(g.meeting.acronym) %}
{% endif %}

{% block title %} {{ title }} {% endblock %}


{% block scripts %}

  {% assets "datepicker" %}
     <script src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script>
    $(function () {
      $(".picker").datetimepicker({pickTime: false});

      $("[data-toggle=add]").on('click', function () {
        $(".badge-label").removeClass("hide");
        $(".badge-body").removeClass("hide");
        $(".badge-add").addClass("hide");
      });
    });
  </script>

{% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [(url_for('.home'), 'Meetings'), ('', title)] ) }}

{% endblock %}


{% block content %}

<div class="meeting-container">

  <div class="page-header">
    <h2>{{ title }}</h2>
  </div>

  <form class="form-horizontal" role="form" method="POST">

    <div class="panel panel-default">

      <div class="panel-heading">
        <b>{{ form.title.label.text }}</b>
      </div>

      <div class="panel-body">
        {{ form_group(form.title.english) }}
        {{ form_group(form.title.french) }}
        {{ form_group(form.title.spanish) }}
      </div> {# panel-body #}

    </div> {# panel #}

    <div class="panel panel-default">
      {% if not form.badge_header.english.data %}
        {% set cls = "hide" %}
      {% endif %}

      <div class="panel-heading">
        <div class="badge-label {{ cls }}">
          <b>{{ form.badge_header.label.text }}</b>
        </div>

        {% if cls %}
          <div class="badge-add">
            <a data-toggle="add" href="#"><span class="glyphicon glyphicon-plus"></span>
              Add badge header</a>
          </div>
        {% endif %}
      </div>

      <div class="badge-body panel-body {{ cls }}">
        {{ form_group(form.badge_header.english) }}
        {{ form_group(form.badge_header.french) }}
        {{ form_group(form.badge_header.spanish) }}
      </div> {# panel-body #}

    </div> {# panel #}

    <div class="panel panel-default">

      <div class="panel-heading">
        <b>Venue</b>
      </div>

      <div class="panel-body">

        {{ form_group(form.venue_address, class_="autosize") }}

        {{ form_group(form.venue_country) }}

        {{ form_group_with_list_inputs(form.venue_city) }}

      </div> {# panel-body #}

    </div> {# panel #}

    <div class="panel panel-default">

      <div class="panel-heading">
        <b>Meeting Date</b>
      </div>

      <div class="panel-body">

        {{ form_group(form.date_start,
                      label_size="2", input_size="3",
                      class_="picker",
                      options={"data-date-format": "DD.MM.YYYY"}) }}

        {{ form_group(form.date_end,
                      label_size="2", input_size="3",
                      class_="picker",
                      options={"data-date-format": "DD.MM.YYYY"}) }}
      </div>

    </div> {# panel #}


    <div class="panel panel-default">

      <div class="panel-heading">
        <b>General</b>
      </div>

      <div class="panel-body">
        {{ form_group(form.meeting_type_slug,
                      label_size="2", input_size="3") }}
        {{ form_group(form.acronym,
                      label_size="2", input_size="3") }}
        {{ form_group(form.online_registration) }}
        {{ form_group(form.settings,
                      class_="list-unstyled meeting-settings") }}

        {% if g.meeting %}
          <div class="form-group {% if form.photo_field_id.errors %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="{{ form.photo_field_id.id }}">
              {{ form.photo_field_id.label.text }}
            </label>

            <div class="col-sm-3">
              {{ form.photo_field_id(class_="form-control") }}
              {% if form.photo_field_id.errors %}
                <div class="text-danger"><small>{{ form.photo_field_id.errors[0] }}</small></div>
              {% endif %}
            </div>
            <div class="actions">
              <a href="{{ url_for('.custom_fields') }}">
                <span class="glyphicon glyphicon-plus"></span>
                Add a new custom field
              </a>
            </div>
          </div>
        {% else %}
          <input type="hidden" name="photo_field_id" value="0">
        {% endif %}

      </div>

    </div> {# panel #}

    {% if g.meeting %}
      {% set url = url_for('.participants') %}
    {% else %}
      {% set url = url_for('.home') %}
    {% endif %}

    <div class="form-actions row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary">
          Save changes</button>
          <small>or <a href="{{ url }}">Cancel</a></small>
      </div>
      {% if can_delete %}
        <div class="col-sm-6 text-right">
          <a class="delete" data-toggle="delete"
             data-href="{{ url_for('.edit') }}"
             data-message="Are you sure you want to delete this meeting?">
            <span class="glyphicon glyphicon-remove"></span>
            Delete this meeting</a>
        </div>
      {% endif %}
    </div>
  </form>

</div> {# /.meeting-container #}

{% endblock %}
