{% extends "_layout.html" %}
{% from "_bits.html" import breadcrumb, form_group,
                            flashed_messages %}

{% set title = 'Edit staff' if staff else 'Add a new staff' %}


{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

    {{ breadcrumb( [(url_for('.staff'), 'Staff Members'),
                    ('', title)] ) }}

{% endblock %}

{% block content %}

  <div class="staff-container">

    {{ flashed_messages() }}

    <div class="page-header">
      <h2>{{ title }}</h2>
    </div>

    <form class="form-horizontal" role="form" method="POST">
      {{ form.csrf_token }}

      <div class="panel panel-default">

        <div class="panel-heading">
          <b>Member details</b>
        </div>

        <div class="panel-body">
          {{ form_group(form.title) }}
          {{ form_group(form.full_name) }}
          {{ form_group(form.user.email) }}
          {{ form_group(form.role_id) }}
        </div>
      </div>

      <input type=hidden value="{{ next or '' }}" name=next>

      <div class="form-actions row">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary">Save</button>
          <small>or <a href="{{ url_for('.staff') }}">Cancel</a></small>
        </div>
        {% if staff %}
          <div class="col-sm-6 text-right">
            <a class="delete" data-toggle="delete"
               data-href="{{ url_for('.staff_edit', staff_id=staff.id) }}"
               data-message="Are you sure you want to delete this staff?">
              <span class="glyphicon glyphicon-remove"></span>
              Delete this staff</a>
          </div>
        {% endif %}
      </div>

    </form>

  </div> {# / .staff-container #}

{% endblock %}
