-r requirements.txt

Fabric==1.10.1
factory-boy==2.5.1
pyquery==1.2.9

# pytest
py==1.10.0
pytest==2.7.0

# git lint
docopt==0.6.2
docutils==0.12
git-lint==0.0.6.1
html-linter==0.1.9
pep8==1.6.2
PyYAML==5.1
template-remover==0.1.9
termcolor==1.1.0

# ci
pytest-cov==1.8.1
coverage==3.7.1
coveralls==0.5
