SQLALCHEMY_DATABASE_URI = 'postgresql://taygun:taygun@localhost/meetings'
SECRET_KEY = 'secret'

UPLOAD_SIZE = 1 * 1024 * 1024

# Mail used for sending reset tokens
DEFAULT_MAIL_SENDER = ''
# Supress sendding mails on localhost
MAIL_SUPPRESS_SEND = True
# Disable assets compilation
ASSETS_DEBUG = True

# Enable GOOGLE ANALYTICS
GOOGLE_ANALYTICS_KEY = ''
