[program:meetings-staging]
directory=%(here)s
command=%(here)s/sandbox/bin/waitress-serve --port 1421 manage:app
autostart=true
autorestart=true
stdout_logfile=%(here)s/instance/meetings.log
stdout_logfile_max_bytes=1MB
stdout_logfile_backups=1

[program:meetings-staging-worker]
directory=%(here)s
command=%(here)s/sandbox/bin/python manage.py rq workers printouts
autostart=true
autorestart=true
stdout_logfile=%(here)s/instance/meetings_worker.log
stdout_logfile_max_bytes=1MB
stdout_logfile_backups=1

[unix_http_server]
file=%(here)s/instance/supervisor.sock
chmod=0700

[supervisord]
directory=%(here)s
logfile=%(here)s/instance/supervisord.log
pidfie=%(here)s/instance/supervisord.pid
childlogdir=%(here)s/instance/

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://%(here)s/instance/supervisor.sock
