[staging]
hosts = meetings-staging
user = flask
project_root = /path/to/project/flask
sandbox = /path/to/project/pyenv
supervisord_conf = /path/to/project/supervisord.conf
name = meetings-staging
brand_path = /path/to/brand
