body {
    font-family: Arial, sans-serif;
}

.envelope-container {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: absolute;
}

.participant-container {
    position: absolute;
    font-size: 10pt;
    height: 5.2cm;
    left: 5in;
    width: 9cm;
    margin-top: 6cm;
}

.participant-container ul li {
    padding-bottom: 0.070in;
}

.secretariat-container {
    position: absolute;
    text-align: center;
    font-size: 12pt;
    height: 5.2cm;
    left: 2cm;
    width: 11.1cm;
    top: 10.5cm;
}

.logo {
    position: absolute;
    width: 1.5cm;
    top: 1cm;
    left: 0cm;
}
.side-logo {
    position: absolute;
    width: 1.5cm;
    top: 1cm;
    right: 0cm;
}

.secretariat-container address {
    position: absolute;
    left: 2cm;
    top: 1cm;
}

address {
    font-size: 10pt;
    width: 7cm;
}
