a {
    cursor: pointer;
}

input[type=file] {
    margin-bottom: 10px;
}

.form-actions {
    padding-bottom: 20px;
}
.form-actions .delete {
    position: relative;
    font-size: 12px;
    color: #a94442;
    top: 7px;
}
.form-actions .delete:hover {
    text-decoration: none;
    color: #8b1916;
}
.form-actions .delete .glyphicon {
    position: relative;
    top: 2px;
}

.page-header {
    margin-top: 0;
}

.panel label {
    font-weight: normal;
}
.panel input[type="file"] {
    position: relative;
    top: 8px;
}

.actions {
    margin-bottom: 20px;
}
.actions .glyphicon {
    font-size: 10px;
}

.table td {
    position: relative;
}
.row-link {
    position: absolute;
    margin-right: -15px;
    margin-top: -20px;
    display: none;
    right: 0;
}
.table tr:hover .row-link {
    display: block;
}

.stripe {
    border: 1px solid #666;
    padding: 0 8px;
}

.category-container .color {
    padding-left: 10px;
}

.meeting-container .field-i18nstring li {
    margin-bottom: 15px;
}
