

.printout-container {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.printout-doc-title {
    margin-bottom: 0.5in;
    text-align: center;
}
.printout-doc-title h4 {
    line-height: 1.4em;
}

table tr.highlight td,
table tr.highlight th {
    background: #f5f5f5;
    font-size: 1em;
}

.ack-registration-number {
    background: #f5f5f5;
    border: 1px solid #CCCCCC;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
}

.ack-subheader {
    background: #f5f5f5;
    border: 1px solid #CCCCCC;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}

.ack-table {
    margin: 20px 250px;
    font-size: 20px;

}

.ack-label {
    width: 190px;
    font-style: italic;
    font-weight: bold;
    vertical-align: top;
}
