.content {
    margin-top: 30px;
}

.radio_field {
    font-size: 12px;
}
.radio_field label {
    padding-left: 5px;
}
.radio_field li {
    margin-bottom: 5px;
}

.list-unstyled {
    margin: 0;
}
li.separator {
    margin: 3px 0;
    border-bottom: 2px solid #eee;
}
.form-group li label {
    font-weight: normal;
}

.product-container {
    margin-bottom: 30px;
    margin-top: 30px;
    overflow: hidden;
}
.product-logo {
    text-align: center;
    float: left;
    width: 140px;
}
.product-side-logo {
    text-align: center;
    float: right;
    width: 140px;
}
.title {
    margin: auto 124px;
}

.image-crop-registration {
    margin-top: 3rem;
}

.image-crop-registration img {
    max-width: 100%;
    margin-bottom: 3rem;
}