{% extends "_layout.html" %}


{% block content %}

  <div class="meeting-title">

    <hgroup>
      <h2 style="text-align:center;">
        {{ g.meeting.acronym }}: {{ g.meeting.title.english }}
      </h2>
      <h3 class="text-center">
        {{ g.meeting.venue_city.english }}
        ({{ g.meeting.venue_country }}) {{ g.meeting.venue_state }},
        {{ date_processor(g.meeting.date_start, g.meeting.date_end) }}
      </h3>
    </hgroup>

    {% if g.meeting.venue_address %}
      <p class="text-center"><b>{{ g.meeting.venue_address }}</b></p>
    {% endif %}

  </div> {# meeting-title #}

  <ul class="nav nav-tabs meeting-navs" role="tablist">
    <li class="{{ active('/participants') }}">
      <a href="{{ url_for('.participants') }}">
        Participants</a>
    </li>
    <li>
      <a href="#">Media Participants</a>
    </li>
    <li>
      <a href="#">Printouts</a>
    </li>
    <li class="dropdown {{ active('/settings') }}">
      <a class="dropdown-toggle" data-toggle="dropdown">
        Settings <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li class="{{ active('/categories') }}">
          <a href="{{ url_for('.categories') }}">
            Categories</a>
        </li>
        <li class="{{ active('/roles') }}">
          <a href="{{ url_for('.roles') }}">
            Roles</a>
        </li>
        <li class="{{ active('/phrases') }}">
          <a href="{{ url_for('.phrase_edit', meeting_type=g.meeting.meeting_type) }}">
            Phrases</a>
        </li>
        <li class="{{ active('/custom') }}">
          <a href="{{ url_for('.custom_fields') }}">
            Custom Fields</a>
        </li>

        <li class="divider"></li>
        <li>
          <a href="{{ url_for('.edit') }}">
            Edit this meeting</a>
        </li>
      </ul>
    </li>
  </ul>

{% endblock %}
