{% extends "_layout.html" %}


{% block messages %}{%endblock%}


{% block content %}

  <div class="meeting-title">

    <hgroup>
      <h2 style="text-align:center;">
        {{ g.meeting.acronym }}: {{ g.meeting.title.english }}
      </h2>
      <h3 class="text-center">
        {{ g.meeting.venue_city.english }}
        ({{ g.meeting.venue_country }}) {{ g.meeting.venue_state }},
        {{ date_processor(g.meeting.date_start, g.meeting.date_end) }}
      </h3>
    </hgroup>

    {% if g.meeting.venue_address %}
      <p class="text-center"><b>{{ g.meeting.venue_address }}</b></p>
    {% endif %}

  </div> {# meeting-title #}

  <ul class="nav nav-tabs meeting-navs" role="tablist">
    <li class="{{ active('/participants') }}">
      <a href="{{ url_for('.participants') }}">
        Participants</a>
    </li>
    {% if g.meeting.media_participant_enabled %}
    <li class="{{ active('/media_participants') }}">
      <a href="{{ url_for('.media_participants') }}">
        Media Participants</a>
    </li>
    {% endif %}
    <li class="{{ active('/printouts') }}">
      <a href="{{ url_for('.printouts') }}">Printouts</a>
    </li>
    <li class="{{ active('/email') }}">
      <a href="{{ url_for('.bulkemail') }}">Send bulk emails</a>
    </li>
    <li class="dropdown {{ active('/logs') }}">
      <a class="dropdown-toggle" data-toggle="dropdown">
        Logs <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li class="{{ active('/activity') }}">
          <a href="{{ url_for('.activity') }}">
            Database activity</a>
        </li>
        <li class="{{ active('/mails') }}">
          <a href="{{ url_for('.mail_logs') }}">
            Emails sent</a>
        </li>
        <li class="{{ active('/statistics') }}">
          <a href="{{ url_for('.statistics') }}">
            Statistics</a>
        </li>
      </ul>
    </li>

    <li class="dropdown {{ active('/settings') }} pull-right">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <small style="position:relative; left: -2px;"><span class="glyphicon glyphicon-cog"></span></small>
        Settings <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li class="{{ active('/categories') }}">
          <a href="{{ url_for('.categories') }}">
            Categories</a>
        </li>
        <li class="{{ active('/roles') }}">
          <a href="{{ url_for('.roles') }}">
            Roles</a>
        </li>
        <li class="{{ active('/notifications') }}">
          <a href="{{ url_for('.notifications') }}">
            Subscribers</a>
        </li>
        <li class="{{ active('/phrases') }}">
          <a href="{{ url_for('.phrase_edit', meeting_type=g.meeting.meeting_type) }}">
            Phrases</a>
        </li>
        <li class="{{ active('/custom') }}">
          <a href="{{ url_for('.custom_fields') }}">
            Custom Fields</a>
        </li>

        <li class="divider"></li>
        <li>
          <a href="{{ url_for('.edit') }}">
            Edit this meeting</a>
        </li>
      </ul>
    </li>

    <li class="pull-right hidden-xs hidden-sm">
      <form class="form-inline form-search" id="search-participant"
            action="{{ url_for('.participant_search') }}">
        <div class="form-group">
          <span class="glyphicon glyphicon-search"></span>
          <input type="text" name="search" class="form-control input-sm"
                 placeholder="Search for participants"
                 tabindex="1">
        </div>
      </form>
    </li>

  </ul>

  {{ flashed_messages() }}

{% endblock %}
