{% extends "_layout.html" %}


{% block content %}

<div class="meeting-container">

  <div class="page-header">
    <h2>Add a new meeting</h2>
  </div>

  <form class="form-horizontal" role="form">

    <div class="panel panel-default">

      <div class="panel-heading">
        <b>{{ form.title.label.text }}</b>
      </div>

      <div class="panel-body">

        <div class="form-group">
          {{ form.title.english.label(class_="col-sm-2 control-label") }}
          <div class="col-sm-8">
            {{ form.title.english(class_="form-control") }}
          </div>
        </div> {# form-group #}

        <div class="form-group">
          {{ form.title.french.label(class_="col-sm-2 control-label") }}
          <div class="col-sm-8">
            {{ form.title.french(class_="form-control") }}
          </div>
        </div> {# form-group #}

        <div class="form-group">
          {{ form.title.spanish.label(class_="col-sm-2 control-label") }}
          <div class="col-sm-8">
            {{ form.title.spanish(class_="form-control") }}
          </div>
        </div> {# form-group #}

      </div> {# panel-body #}

    </div> {# panel #}

    <div class="panel panel-default">

      <div class="panel-heading">
        <b>Venue</b>
      </div>

      <div class="panel-body">

       <div class="form-group">
          {{ form.venue_address.label(class_="col-sm-2 control-label") }}
          <div class="col-sm-8">
            {{ form.venue_address(class_="form-control") }}
          </div>
        </div> {# form-group #}

        <div class="form-group">
          {{ form.venue_city.label(class_="col-sm-2 control-label") }}
          <div class="col-sm-8">
            <div class="panel panel-default">
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li>
                    {{ form.venue_city.english.label }}
                    {{ form.venue_city.english(class_="form-control") }}
                  </li>
                  <li>
                    {{ form.venue_city.french.label }}
                    {{ form.venue_city.french(class_="form-control") }}
                  </li>
                  <li>
                    {{ form.venue_city.spanish.label }}
                    {{ form.venue_city.french(class_="form-control") }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> {# form-group #}


      </div> {# panel-body #}

    </div> {# panel #}

    <div class="panel panel-default">

      <div class="panel-heading">
        <b>Meeting Date</b>
      </div>

      <div class="panel-body">

        <div class="form-group">
          {{ form.date_start.label(class_="col-sm-2 control-label") }}
          <div class="col-sm-3">
            {{ form.date_start(class_="form-control") }}
          </div>
        </div>

        <div class="form-group">
          {{ form.date_end.label(class_="col-sm-2 control-label") }}
          <div class="col-sm-3">
            {{ form.date_end(class_="form-control") }}
          </div>
        </div>

      </div>

    </div> {# panel #}


    <div class="panel panel-default">

      <div class="panel-heading">
        <b>General</b>
      </div>

      <div class="panel-body">

        <div class="form-group">
          {{ form.meeting_type.label(class_="col-sm-2 control-label") }}
          <div class="col-sm-3">
            {{ form.meeting_type.slug(class_="form-control") }}
          </div>
        </div>

        <div class="form-group">
          {{ form.acronym.label(class_="col-sm-2 control-label") }}
          <div class="col-sm-3">
            {{ form.acronym(class_="form-control") }}
          </div>
        </div>

      </div>

    </div> {# panel #}

    <button type="submit" class="btn btn-primary">
      Save changes</button> or <a>Cancel</a>

  </form>

</div> {# /.meeting-container #}

{% endblock %}
