{% extends '_layout.html' %}


{% block content %}

<div class="meeting-container">

  <div class="page-header">
    <h2>Add a new meeting</h2>
  </div>

  <form class="form-horizontal" role="form">

    <div class="form-group">
      {{ form.title.label(class_="col-sm-2 control-label") }}
      <div class="col-sm-10">
        <div class="well">
          <ul class="list-unstyled field-i18nstring">
            <li>
              {{ form.title.english.label }}
              {{ form.title.english() }}
            </li>
            <li>
              {{ form.title.french.label }}
              {{ form.title.french() }}
            </li>
            <li>
              {{ form.title.spanish.label }}
              {{ form.title.spanish() }}
            </li>
          </ul>
        </div>
      </div>
    </div> {# form-group #}

  </form>

</div> {# /.meeting-container #}

{% endblock %}
