{% extends "_layout.html" %}
{% from "_bits.html" import breadcrumb %}


{% block title %}Users{% endblock %}

{% block head %}

  <style type="text/css">
    .options {
      display: none;
    }

    .table tr:hover .options {
      display: block;
    }

  </style>

{% endblock %}

{% block scripts %}

  <script>
    $(function () {
      $('#users').dataTable({"order": []});

      $("[data-toggle=enable]").on("click", function () {
        var url = $(this).data("href");
        var row = $(this).parents("tr");
        var icon = row.find(".glyphicon");
        var button = $(this);
          $.ajax({
            type: "POST",
            url: url,
            success: function (resp) {
              row.effect("highlight");
              if (icon.hasClass("glyphicon-ok")) {
                icon.removeClass("glyphicon-ok").addClass("glyphicon-minus");
                button.text(button.data("enable"));
              }
              else {
                icon.removeClass("glyphicon-minus").addClass("glyphicon-ok");
                button.text(button.data("disable"));
              }
            }

          });
      });
    });
  </script>


{% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [('', 'Users')] ) }}

{% endblock %}


{% block content %}

  <div class="page-header">
    <h2>Users</h2>
  </div>


    <div class="table-responsive">

      <table id="users" class="table table-bordered table-condensed">

        <thead>
          <tr>
            <th class="col-sm-3">Email</th>
            <th>Meetings</th>
            <th>Active</th>
            <th class="col-sm-2">Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.email }}</td>
              <td>
                <ul class="list-unstyled">
                  {% for participant in user.participants %}
                    <li><a href="{{ url_for('meetings.participant_detail', participant_id=participant.id, meeting_id=participant.meeting.id) }}">
                      {{ participant.meeting }}</a></li>
                  {% endfor %}
                </ul>
              </td>
              <td class="text-center">
                {% if user.active %}
                  <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                  <span class="glyphicon glyphicon-minus"></span>
                {% endif %}
              </td>
              <td>
                <div class="options">
                  <small><a href="#">Change Password</a></small> &nbsp;

                  {% set text = 'Disable' if user.active else 'Enable' %}
                  <small><a data-toggle="enable"
                            data-enable="Enable"
                            data-disable="Disable"
                            data-href="{{ url_for('admin.user_toggle', user_id=user.id) }}">{{ text }}</a>
                  </small>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>


{% endblock %}
