{% extends "_layout.html" %}
{% from "_bits.html" import breadcrumb, form_group %}


{% block title %}Users{% endblock %}

{% block head %}

  <style type="text/css">
    .options {
      display: none;
    }
    .table td {
      vertical-align: middle!important;
    }

    .table tr:hover .options {
      display: block;
    }
    .current-user .toggle {
      display: none;
    }
  </style>

{% endblock %}

{% block scripts %}

  <script>
    $(function () {
      $('#users').dataTable({
        "order": [],
        stateSave: true
      });

      $("[data-toggle=enable]").on("click", function () {
        var url = $(this).data("href");
        var row = $(this).parents("tr");
        var icon = row.find(".glyphicon");
        var button = $(this);
          $.post(url, function (resp) {
            row.effect("highlight");
            if (icon.hasClass("glyphicon-ok")) {
              icon.removeClass("glyphicon-ok").addClass("glyphicon-minus");
              button.text(button.data("enable"));
            }
            else {
              icon.removeClass("glyphicon-minus").addClass("glyphicon-ok");
              button.text(button.data("disable"));
            }
          });
      });

      $("#modal-password").on("submit", "form", function(e) {
        e.preventDefault();
        var url = $(this).attr("action");
        $.post(url, $(this).serialize(), function (resp) {
          if (resp.status == "success") {
            location.reload();
          }
          else if(resp.status == "error") {
            $('.modal-content').html(resp.data);
          }
        });
      });
    });
  </script>


{% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [('', 'Users')] ) }}

{% endblock %}


{% block content %}

  <div class="page-header">
    <h2>Users</h2>
  </div>


    <div class="table-responsive">

      <table id="users" class="table table-bordered table-condensed">

        <thead>
          <tr>
            <th class="col-sm-3">Email</th>
            <th>Meetings</th>
            <th>Active</th>
            <th class="col-sm-2 text-center">Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for user in users %}
            <tr class="{% if current_user == user %}current-user bg-info{% endif %}">
              <td>{{ user.email }}<br>
                {% if user.staff %}
                <small class="text-danger"><em>Staff</em></small>
                {% endif %}
              </td>
              <td>
                <ul class="list-unstyled">
                  {% for participant in
                          user.participants.filter_by(deleted=False) %}
                    <li><a href="{{ url_for('meetings.participant_detail', participant_id=participant.id, meeting_id=participant.meeting.id) }}">
                      {{ participant.meeting }}</a></li>
                  {% else %}
                    <p>-</p>
                  {% endfor %}
                </ul>
              </td>
              <td class="text-center">
                {% if user.active %}
                  <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                  <span class="glyphicon glyphicon-minus"></span>
                {% endif %}
              </td>
              <td class="text-center">
                <div class="options">
                  <small>
                    <a href="{{ url_for('admin.user_edit', user_id=user.id) }}" data-toggle="modal" data-target=".modal-password">Change Password</a>
                  </small>&nbsp;

                  {% set text = 'Disable' if user.active else 'Enable' %}
                  <small class="toggle"><a data-toggle="enable"
                            data-enable="Enable"
                            data-disable="Disable"
                            data-href="{{ url_for('admin.user_toggle', user_id=user.id) }}">{{ text }}</a></small>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>

    <div id="modal-password" class="modal fade modal-password" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

{% endblock %}
