{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb, activity_url %}


{% set title = "Meeting (" ~ g.meeting.acronym ~ ") database activity" %}

{% block title %} {{ title }} {% endblock %}


{% block scripts %}

  <script>
    $(function () {
      $('#activity').dataTable({"order": []});
    });
  </script>

{% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [
      ('', 'Database activity')
  ] ) }}

{% endblock %}


{% block content %}

  {{ super() }}

  <h3 class="page-title">{{ title }}</h3>

  <div class="table-responsive">
    <table id="activity" class="table table-bordered table-condensed">

      <thead>
        <tr>
          <th>Staff member</th>
          <th>Participant</th>
          <th>Date</th>
          <th>Action</th>
          <th>URL</th>
        </tr>
      </thead>

      <tbody>
        {% for activity in activities %}
          <tr style="text-align: center;">
            <td>{{ activity.staff }}</td>
            <td>{{ activity.participant_name }}</td>
            <td>{{ activity.date.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ activity.action|activity_map }}</td>
            <td>{{ activity_url(activity) }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}
