{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb, activity_url %}


{% set title = "Meeting (" ~ g.meeting.acronym ~ ") database activity" %}

{% block title %} {{ title }} {% endblock %}


{% block scripts %}

  <script>
    $(function () {
      $('#activity').dataTable({"order": []});
    });
  </script>

{% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [
      ('', 'Database activity')
  ] ) }}

{% endblock %}


{% block content %}

  {{ super() }}
  {% set time = request.args.get('time')|int %}

  <h3 class="page-title">{{ title }}</h3>

  <div class="row">
    <div class="col-sm-2">
      <ul class="nav nav-pills nav-stacked nav-condensed">

        {% if part_id %}
        <li class="nav-header">Filter by user</li>
        <li>
          <li class="active">
            <a>{{ activities.first().participant }}</a>
          </li>
        </li>
        <br>
        <li>
          <a href="{{ url_for('.activity') }}">
            <small style="position:relative; left: -2px;">
              <span class="glyphicon glyphicon-backward"></span>
            </small>
            Back to filters
          </a>
        </li>

        {% elif action %}
        <li class="nav-header">Filter by action</li>
        <li>
          <li class="active">
            <a>{{ action|activity_map }}</a>
          </li>
        </li>
        <br>
        <li>
          <a href="{{ url_for('.activity') }}">
            <small style="position:relative; left: -2px;">
              <span class="glyphicon glyphicon-backward"></span>
            </small>
            Back to filters
          </a>
        </li>

        {% else %}
          <li class="nav-header">Filter by staff</li>
          <li class="{% if staff_id == None %}active {% endif %}">
            <a href="{{ url_for('.activity') }}">All</a>
          </li>
          {% for staff in activities|groupby('staff') %}
            <li {% if staff_id|int == staff.grouper.id or (staff_id != None and staff_id|int == 0) %}class="active"{% endif %}>
              {% if staff.grouper %}
                {% set url = url_for('.activity', staff_id=staff.grouper.id, time=seconds) %}
              {% else %}
                {% set url = url_for('.activity', staff_id=0, time=seconds) %}
              {% endif %}
              <a href="{{ url }}">{{ staff.grouper or 'Online' }}</a>
            </li>
          {% endfor %}

          <li class="nav-header">Filter by time span</li>
          <li class="{% if not time %}active {% endif %}">
            <a href="{{ url_for('.activity', staff_id=staff_id) }}">Anytime</a>
          </li>
          <li class="{% if time == 86400 %}active {% endif %}">
            <a href="{{ url_for('.activity', time=86400, staff_id=staff_id) }}">Last 24 hours</a>
          </li>
          <li class="{% if time == 259200 %}active {% endif %}">
            <a href="{{ url_for('.activity', time=259200, staff_id=staff_id) }}">Last 3 days</a>
          </li>
          <li class="{% if time == 604800 %}active {% endif %}">
            <a href="{{ url_for('.activity', time=604800, staff_id=staff_id) }}">Last 7 days</a>
          </li>
          <li class="{% if time == 2592000 %}active {% endif %}">
            <a href="{{ url_for('.activity', time=2592000, staff_id=staff_id) }}">Last month</a>
          </li>
        {% endif %}
      </ul>
    </div>

    <div class="col-sm-10">
  <div class="table-responsive">
    <table id="activity" class="table table-bordered table-condensed">

      <thead>
        <tr>
          <th>Staff member</th>
          <th>Participant</th>
          <th>Date</th>
          <th>Action</th>
          <th>URL</th>
        </tr>
      </thead>

      <tbody>
        {% for activity in activities %}
          <tr style="text-align: center;">
            <td>{{ activity.staff or '' }}</td>
            <td><a href="{{ url_for('.activity', part_id=activity.participant.id) }}">{{ activity.participant.name }}</a></td>
            <td>{{ activity.date.strftime('%Y-%m-%d %H:%M') }}</td>
            <td><a href="{{ url_for('.activity', action=activity.action) }}">{{ activity.action|activity_map }}</a></td>
            <td>{{ activity_url(activity) }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>


{% endblock %}
