{% extends "_layout.html" %}
{% from "_bits.html" import breadcrumb, flashed_messages, form_group %}

{% set title = 'Edit role' if role else 'Add a new role' %}


{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [(url_for('.roles'), 'Roles'),
                  ('', title)] ) }}

{% endblock %}

{% block content %}

  <div class="role-container">

    {{ flashed_messages() }}

    <div class="page-header">
      <h2>{{ title }}</h2>
    </div>

    <form class="form-horizontal" role="form" method="POST">
      {{ form.csrf_token }}

      <div class="panel panel-default">

        <div class="panel-heading">
          <b>Role details</b>
        </div>

        <div class="panel-body">
          {{ form_group(form.name) }}
          {{ form_group(form.permissions) }}
        </div>
      </div>

      <div class="form-actions row">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary">Save</button>
          <small>or <a href="{{ url_for('.roles') }}">Cancel</a></small>
        </div>
        {% if role %}
          <div class="col-sm-6 text-right">
            <a class="delete" data-toggle="delete"
               data-href="{{ url_for('.role_edit', role_id=role.id) }}"
               data-message="Are you sure you want to delete this role?">
              <span class="glyphicon glyphicon-remove"></span>
              Delete this role</a>
          </div>
        {% endif %}
      </div>


  </div>
{% endblock %}
