{% extends "_layout.html" %}
{% from "_bits.html" import breadcrumb %}

{% set title = phrase.meeting_type.label ~ " Phrases" %}


{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [
      (url_for('.phrases'), 'Default Phrases'),
      ('', title)]
  ) }}

{% endblock %}


{% block content %}

  <div class="page-header">
    <h2>{{ title }}</h2>
  </div>

  {% with meeting_type = phrase.meeting_type.slug %}
    {% include "common/_phrase_edit.html" %}
  {% endwith %}

{% endblock %}
