{% from "_bits.html" import form_group %}

<div class="panel panel-default">

  <div class="panel-heading"><b>Actions</b></div>

  <div class="panel-body">

    {% if form.actions.errors %}
      <div class="alert alert-danger">
        {{ form.actions.errors[0] }}
      </div>
    {% endif %}

    <div id="actions-container" class="rule-container">
      {% for action in form.actions %}
        <div class="rule
                    {% if not loop.first %}rule-border{% endif %}">
          {{ form_group(action.field,
                        label_size="3", input_size="8") }}
          <div class="form-group actions-options">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
              <label>
                {{ action.is_required() }}
                {{ action.is_required.label.text }}
              </label>
              <label>
                {{ action.is_visible() }}
                {{ action.is_visible.label.text }}
              </label>
            </div>
          </div> {# form-group #}

          {% if not loop.first %}
            <a class="rule-remove"><small>
              <span class="glyphicon glyphicon-remove"></span></small>
            </a>
            <div class="rule-and"><small>and</small></div>
          {% endif %}
        </div>
      {% endfor %}
    </div> {# actions-container #}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <a class="rule-add"
           data-from="#default-actions-form"
           data-to="#actions-container"><small>
            <span class="glyphicon glyphicon-plus"></span>
            Add a new action</small>
        </a>
      </div>
    </div>

  </div> {# panel-body #}

</div> {# actions #}
