<div class="table-responsive">
  <table id="rules" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Rule name</th>
        <th>Fields in conditions</th>
        <th>Fields in actions</th>
      </tr>
    </thead>
    <tbody>
      {% for rule in rules %}
        <tr>
          <td>
            {% set url = url_for('.rule_edit', rule_type=rule_type, rule_id=rule.id) %}
            <a href="{{ url }}">{{ rule.name }}</a>
          </td>
          <td>
            <ul class="list-unstyled">
            {% for condition in rule.conditions.all() %}
              <li>- {{ condition.field }}</li>

            {% endfor %}
            </ul>
          </td>
          <td>
            <ul class="list-unstyled">
            {% for action in rule.actions.all() %}
              <li>- {{ action.field }}</li>
            {% endfor %}
            </ul>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="3">
            There are no rules currently defined.
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="actions">
  <a href="{{ url_for('.rule_edit', rule_type=rule_type) }}"
     class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-plus"></span>
    Add a new rule</a>
</div>
