{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb %}


{% set title = "Edit rule"  if rule else "Add rule" %}
{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [
      (url_for('meetings.rules'), 'Rules'),
      ('', title),
  ] ) }}

{% endblock %}


{% block content %}

  {{ super() }}

  <h3 class="page-title">{{ title }}</h3>

  <form class="form-horizontal" method="POST">

    {{ form.csrf_token }}

    {% include "meetings/rule/_condition_fields.html" %}

    {% include "meetings/rule/_action_fields.html" %}

  </form>

{% endblock %}
