<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}- {{ config.PRODUCT_TITLE }}</title>
    {% assets "css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <style type="text/css">
      .container {
        margin-top: 100px;
      }
      .alert {
        width: 480px;
      }
    </style>
  </head>

  <body>

    <div class="container">
      {% block content %}{% endblock %}
    </div> {# container#}

  </body>

</html>
