{% extends "_layout.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Change password</h1>
  </div>

  {% if form.errors %}
    {% for field, errors in form.errors.items() %}
      {% for error in errors %}
        <div class="alert alert-danger center-block">
          {{ error }}</div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  <div class="login-box center-block">
    <div class="login-logo">{{ config.PRODUCT_TITLE }}</div>
    <hr>
    <div class="login-form">
      <form method="post">
        {{ form.csrf_token }}
        {{ form.password(placeholder=form.password.label.text) }}
        {{ form.new_password(placeholder=form.new_password.label.text) }}
        {{ form.confirm(placeholder=form.confirm.label.text) }}
        <input type="hidden" value="{{ next or '' }}" name="next">
        <button class="btn btn-login" type="submit">Change</button>
      </form>
    </div> {# login-form #}
  </div> {# login-box #}


{% endblock %}
