{% extends "_layout.html" %}


{% block title %}Change Password{% endblock %}


{% block head %}
  <style type="text/css">
    .alert {
      width: 480px;
    }
  </style>
{% endblock %}


{% block content %}

  {% if form.errors %}
    <div class="alert alert-danger center-block">
      Current password invalid, or the new passord does not match the confirm password field.</div>
  {% endif %}

  <div class="login-box center-block">
    <div class="login-logo">Change password</div>
    <hr>
    <div class="login-form">
      <form method="post">
        {{ form.csrf_token }}
        {{ form.password(placeholder=form.password.label.text) }}
        {{ form.new_password(placeholder=form.new_password.label.text) }}
        {{ form.confirm(placeholder=form.confirm.label.text) }}
        <input type="hidden" value="{{ next or '' }}" name="next">
        <button class="btn btn-login" type="submit">Change</button>
      </form>
      <div class="login-links text-center"></div>
    </div> {# login-form #}
  </div> {# login-box #}


{% endblock %}
