{% extends "auth/_layout.html" %}


{% block title %}Recover password{% endblock %}

{% block content %}


  {% if form.errors %}
    <div class="alert alert-danger center-block">
      Email is not valid</div>
  {% endif %}

  <div class="login-box center-block">
    <div class="login-logo">{{ config.PRODUCT_TITLE }}</div>
    <hr>
    <div class="login-form">
      <form method="post">
        {{ form.csrf_token }}
        {{ form.email(placeholder=form.email.label.text,
                      autofocus="autofocus") }}
        <button class="btn btn-login" type="submit">Send email</button>
      </form>
      <div class="login-links text-center">
         <a href="{{ url_for('.login') }}">Login</a>
      </div>
    </div> {# login-form #}
  </div> {# login-box #}


{% endblock %}
