{% extends "auth/_layout.html" %}

{% block title %}Reset Password{%endblock%}

{% block content %}

  {% if form.errors %}
    <div class="alert alert-danger center-block">
      Passord does not match the confirm password field.</div>
  {% endif %}

  <div class="login-box center-block">
    <div class="login-logo">{{ config.PRODUCT_TITLE }}</div>
    <hr>
    <div class="login-form">
      <form method="post">
        {{ form.csrf_token }}
        {{ form.password(placeholder=form.password.label.text) }}
        {{ form.confirm(placeholder=form.confirm.label.text) }}
        <button class="btn btn-login" type="submit">Change</button>
      </form>
    </div> {# login-form #}

    <div class="login-links text-center">
      <a href="{{ url_for('.login') }}">Login</a>
    </div>
  </div> {# login-box #}

{% endblock %}
