{% extends "auth/_layout_simple.html" %}

{% block title %}Reset Password - {{ config.PRODUCT_TITLE }}{%endblock%}

{% block content %}

  {% if form.errors %}
    <p class="alert alert-danger">Passwords differ!</p>
  {% endif %}

  <div class="login-box center-block">
    <div class="login-logo">{{ config.PRODUCT_TITLE }}</div>
    <hr>
    <div class="login-form">
      <form method="post">
        {{ form.csrf_token }}
        {{ form.password(placeholder=form.password.label.text) }}
        {{ form.confirm(placeholder=form.confirm.label.text) }}
        <button class="btn btn-login" type="submit">Change</button>
      </form>
      </div> {# login-form #}
    </div> {# login-box #}

{% endblock %}
