{% extends "_layout.html" %}
{% from "_bits.html" import breadcrumb, flashed_messages %}


{% set title = 'Edit category' if category else 'Add a new default category' %}


{% block title %} {{ title }} {% endblock %}


{% block head %}

  <style type="text/css">
    .checkbox {
      margin-top: -10px!important;
      padding-top: 0!important;
    }
  </style>

{% endblock %}


{% block content %}

  {{ breadcrumb( [ (url_for('.categories'), 'Default Categories'),
                 ('', title)] ) }}

  {{ flashed_messages() }}

  <div class="page-header">
    <h2>{{ title }}</h2>
  </div>

  <div class="category-container">
    {% include "common/_category_edit.html" %}
  </div> {# category-container #}

{% endblock %}
