{% extends "_layout.html" %}
{% from "_bits.html" import breadcrumb, flashed_messages %}


{% block title %}Default Categories{% endblock %}


{% block scripts %}

  <script>
    $(function () {
      $('#categories').dataTable({"order": []});
    });
  </script>

{% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [('', 'Default Categories')] ) }}

{% endblock %}


{% block content %}

  {{ flashed_messages() }}

  <div class="page-header">
    <h2>Default Categories</h2>
  </div>

  <div class="actions">
    <a href="{{ url_for('.category_edit') }}"
       class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-plus"></span>
      Add a new category</a>
  </div>

  {% include "common/_category_list.html"  %}

  <div class="actions">
    <a href="{{ url_for('.category_edit') }}"
       class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-plus"></span>
      Add a new category</a>
  </div>

{% endblock %}
