{% extends "_layout.html" %}
{% from "_bits.html" import breadcrumb %}


{% block title %}Default Categories{% endblock %}


{% block scripts %}

  <script>
    $(function () {
      $('#categories').dataTable({
        'order': [],
        'columnDefs': [
          { 'orderable': false, 'targets': 0 },
          { 'orderable': false, 'targets': 2 },
          { 'orderable': false, 'targets': 3 },
          { 'orderable': false, 'targets': 6 }
        ]
      });
    });
  </script>

{% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [('', 'Default Categories')] ) }}

{% endblock %}


{% block content %}

  <div class="page-header">
    <h2>Default Categories</h2>
  </div>

  {% with default = True %}
    {% include "common/_category_list.html"  %}
  {% endwith %}

  <div class="actions">
    <a href="{{ url_for('.category_edit') }}"
       class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-plus"></span>
      Add a new category</a>
  </div>

{% endblock %}
