{% extends "meetings/registration/form.html" %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .form-control {
        border-radius: 0;
        box-shadow: none;
        height: 25px;
        padding: 5px 5px;
    }

    form {
        background:#f7f7f7;
        padding: 10px;
        border-radius:5px;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    form .btn-primary {
        background-image: none;
        background-color: gray;
        border-color: #357ebd;
        border: none;
    }

    .text-danger {
        color: gray;
    }

    .col-sm-10 {
        width: 55%;
        float: left;
        padding-left: 2rem;
    }

    @media (min-width: 768px){
        .col-sm-2 {
         width: 25%;
        }

        .col-sm-2.control-label{
         width: 40%;

        }
    }


    .row .col-sm-10 {
        width: 80%;
    }

    label.control-label {
        float:left;
        width: 200px!important;
    }

    .form-group > label {
       text-align: right!important;
   }

   li > .form-group > label {
       text-align:left!important;
   }

  .title {
      margin: 0;
  }

  .product-logo, .product-side-logo {
      display: none;
  }
    </style>
{% endblock %}
