{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb,
                            form_group, form_group_with_list_inputs %}


{% if custom_field %}
  {% set title = "Edit Custom Field" %}
{% else %}
  {% set title = "Add Custom Field" %}
{% endif %}


{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [
      (url_for('.custom_fields'), 'Custom Fields'),
      ('', title)
  ] ) }}

{% endblock %}


{% block content %}

  {{ super() }}

  <h3 class="page-title">{{ title }}</h3>

  <form method="post" class="form-horizontal">

    <div class="panel panel-default">
      <div class="panel-heading"><b>General</b></div>

      <div class="panel-body">

        {{ form_group_with_list_inputs(form.label) }}

        {{ form_group(form.field_type, input_size="3") }}

        {{ form_group(form.required, input_size="3") }}

      </div>
    </div>

    <div class="form-actions row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary">
          Save changes</button>
        <small>or
        <a href="{{ url_for('.custom_fields') }}">Cancel</a></small>
      </div>
      {% if custom_field %}
        <div class="col-sm-6 text-right">
          <a class="delete" data-toggle="delete"
             data-href="{{ url_for('.custom_field_edit', custom_field_id=custom_field.id) }}"
             data-message="Are you sure you want to delete this custom field?">
            <span class="glyphicon glyphicon-remove"></span>
            Delete this custom field</a>
        </div>
      {% endif %}
    </div>

  </form>

{% endblock %}
