{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb, flashed_messages,
                            form_group, form_group_with_list_inputs %}


{% if custom_field %}
  {% set title = "Edit Custom Field" %}
{% else %}
  {% set title = "Add Custom Field" %}
{% endif %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumb %}

  {{ breadcrumb( [
      (url_for('.custom_fields'), 'Custom Fields'),
      ('', title)
  ] ) }}

{% endblock %}

{% block content %}

  {{ super() }}

  {{ flashed_messages() }}

  <h3 class="page-title">{{ title }}</h3>

  <form method="post" class="form-horizontal">

    <div class="panel panel-default">
      <div class="panel-heading"><b>General</b></div>

      <div class="panel-body">

        {{ form_group_with_list_inputs(form.label) }}

        {{ form_group(form.field_type, input_size="3") }}

      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">
        Save changes</button>
      <small>or
      <a href="{{ url_for('.custom_fields') }}">Cancel</a></small>
    </div>

  </form>

{% endblock %}
