{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb %}


{% set title = "Fields" %}

{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [ ('', title) ] ) }}

{% endblock %}


{% block head %}

  <style type="text/css">
    .tab-content {
      margin-top: 15px;
    }
  </style>

{% endblock %}


{% macro render_fields(fields) %}

  <p class="text-right"><small>{{ fields.count() }} fields</small></p>
  <table class="table table-bordered table-condensed sortable"
         data-url="{{ url_for('.custom_field_update_position') }}">

    <thead>
      <th class="handler"></th>
      <th>Label</th>
      <th>Type</th>
      <th>Required</th>
      <th class="text-right col-sm-3">Visible on registration form</th>
    </thead>

    <tbody>
      {% for field in fields %}
        {% set url = url_for('.custom_field_edit',
                             custom_field_id=field.id)%}
        <tr id="items-{{ field.id }}"
            class="{% if field.is_primary %}highlight{% endif %}">
          <td class="handler">
            <span class="glyphicon glyphicon-align-justify"></span>
          </td>
          <td class="field-label">
            {% if field.is_primary %}
              <b>{{ field.label }}</b>
            {% else %}
              <a href="{{ url }}">{{ field.label }}</a>
            {% endif %}
          </td>
          <td>{{ field.field_type.value }}</td>
          <td><span class="glyphicon {% if field.required %} glyphicon-ok {% else %} glyphicon-remove {% endif %}"></span></td>
          <td class="text-right"><span class="glyphicon {% if field.visible_on_registration_form %} glyphicon-ok {% else %} glyphicon-remove {% endif %}"></span></td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

{% endmacro %}


{% block content %}

  {{ super() }}

  <h3 class="page-title">{{ title }}</h3>


  <div role="tabpanel">

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#participant" data-toggle="tab">Participant fields</a>
      </li>
      {% if custom_fields_for_media %}
      <li>
        <a href="#media" data-toggle="tab">Media participant fields</a>
      </li>
      {% endif %}
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="participant">
        {{ render_fields(custom_fields_for_participants) }}
      </div>
      {% if custom_fields_for_media %}
      <div role="tabpanel" class="tab-pane" id="media">
        {{ render_fields(custom_fields_for_media) }}
      </div>
      {% endif %}
    </div> {# tab-content #}

  </div> {# tabpanel #}

  <div class="actions">
    {% set url = url_for('.custom_field_edit') %}
    <a href="{{ url }}" class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-pencil"></span> &nbsp;
      Add a new field</a>
  </div> {# actions #}

{% endblock %}
