{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb %}


{% set title = "Custom Fields" %}

{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [ ('', title) ] ) }}

{% endblock %}


{% block content %}

  {{ super() }}

  <h3 class="page-title">{{ title }}</h3>

  <div class="actions">
    {% set url = url_for('.custom_field_edit') %}
    <a href="{{ url }}" class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-pencil"></span> &nbsp;
      Add custom field</a>
  </div>

  <table class="table table-bordered table-condensed sortable"
         data-url="{{ url_for('.custom_field_update_position') }}">

    <thead>
      <th class="handler"></th>
      <th>Label</th>
      <th>Type</th>
      <th>Required</th>
    </thead>

    <tbody>
      {% for field in custom_fields %}
        {% set url = url_for('.custom_field_edit',
                             custom_field_id=field.id)%}
        <tr id="items-{{ field.id }}">
          <td class="handler">
            <span class="glyphicon glyphicon-align-justify"></span>
          </td>
          <td>
            <a href="{{ url }}">{{ field.label }}</a>
          </td>
          <td>{{ field.field_type.value }}</td>
          <td><span class="glyphicon {% if field.required %} glyphicon-ok {% else %} glyphicon-remove {% endif %}"></span></td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

{% endblock %}
