
<h5>Participant details</h5>

<div class="table-responsive">

  <table class="table table-bordered table-condensed table-striped">
    <tbody>
      {% for field in form.exclude([CustomField.CHECKBOX,
                                    CustomField.IMAGE]) %}
        <tr>
          <th class="col-sm-3">{{ field.label.text }}</th>
          <td>
            {% if field.type == 'CategoryField' %}
              {% set choices = field.choices|dict %}
              {{ choices[field.data] }}
            {% elif field.name == 'email' %}
              <a href="mailto:{{ field.data }}">{{ field.data }}</a>
            {% else %}
              {{ field.data }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div> {# table-responsive #}
