{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb, form_group %}


{% block title %} {{ title }} {% endblock %}

{% block scripts %}

  <script>
    $(function () {
      var search_default_participant = $('#search-default-participant');
      var search_default_participant_empty_template = [
          '<div class="tt-suggestion">',
          '<small><em>No participants found</em></small>',
          '</div>'
      ].join('\n');
      var searchDefaultSelected = function (e, suggestion, name) {
          if(suggestion && suggestion.email) {
              $('input#email').val(suggestion.email);
              $('input#first_name').val(suggestion.first_name);
              $('input#last_name').val(suggestion.last_name);
              $('select#title').val(suggestion.title);
              $('select#language').val(suggestion.language);
              $('select#country').val(suggestion.country);
              $('select#represented_country').val(suggestion.represented_country);
              $('select#represented_region').val(suggestion.represented_region);
              $('input#represented_organization').val(suggestion.represented_organization);
          }
      }
      var searchDefault = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: search_default_participant.attr('action') + '?search=%QUERY'
      });
      searchDefault.initialize();
      search_default_participant.find('input').typeahead(null, {
          name: 'search',
          displayKey: 'value',
          source: searchDefault.ttAdapter(),
          templates: {
              empty: search_default_participant_empty_template
          }
      }).on('typeahead:selected', searchDefaultSelected);
    });
  </script>

{% endblock %}


{% block content %}

  {% if not disable_super %}
    {{ super() }}
  {% endif %}

  <h3 class="page-title">{{ title }}</h3>

  {% if not participant %}
    <form class="form-inline form-search" id="search-default-participant"
          action="{{ search_default_url }}">
      <div class="form-group">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" name="search-default" class="form-control input-sm"
               placeholder="Search for participant">
      </div>
    </form>
    </br>
  {% endif %}

  <form class="form-horizontal" method="post">

    <div class="row">

      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-heading"><b>Participant details</b></div>
          <div class="panel-body">
            {% for field in form.exclude([CustomField.CHECKBOX,
                                          CustomField.IMAGE]) %}
              {% if loop.first %}
                {% set options = {'autofocus': '' } %}
              {% else %}
                {% set options = {} %}
              {% endif %}
              {{ form_group(field, label_size="3", input_size="8",
                            options=options) }}
            {% endfor %}
          </div>
        </div> {# panel #}

      </div> {# col-sm-9 #}


      <div class="col-sm-3">

        {% if form.has(CustomField.CHECKBOX) %}
          <div class="panel panel-default">
            <div class="panel-heading"><b>Meeting flags</b></div>
            <div class="panel-body">
              {% for field in form.filter([CustomField.CHECKBOX]) %}
                {{ form_group(field, label_size="6", input_size="6") }}
              {% endfor %}
            </div>
          </div> {# panel #}
        {% endif %}

      </div> {# col-sm-3 #}

    </div> {# row #}

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">
        Save changes</button>

      {% block footer %}{% endblock %}

    </div>

  </form>

{% endblock %}
