{% extends "_layout.html" %}

{% block content %}

  <div class="container">

    <div class="page-header">
      <h2>Add new staff member</h2>
    </div>

    <form class="well form-horizontal" role="form" method="post" action="{{ submit_url }}">
      {{ form.csrf_token }}

      <div class="form-group row">
        {{ form.title.label(class_='control-label col-sm-2') }}
        <div class="controls col-sm-10">
          {{ form.title }}
        </div>
      </div>

      <div class="form-group row">
        {{ form.full_name.label(class_='control-label col-sm-2') }}
        <div class="controls col-sm-10">
          {{ form.full_name }}
        </div>
      </div>

      {% if form.user %}
      <div class="form-group row">
        {{ form.user.label(class_='control-label col-sm-2') }}
        <div class="controls col-sm-10">
          <ul class="list-unstyled">
            <li>
              {{ form.user.email.label }}
              {{ form.user.email }}
            </li>
            <li>
              {{ form.user.password.label }}
              {{ form.user.password }}
            </li>
          </ul>
        </div>
      </div>
      {% endif %}

      <input type=hidden value="{{ next or '' }}" name=next>
      <button class="btn" type="submit">Add</button>

    </form>

  </div>

{% endblock %}
