{% extends "_layout.html" %}
{% from "_bits.html" import breadcrumb %}


{% block title %}Settings Overview{% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [('', 'Settings Overview')] ) }}

{% endblock %}


{% set product_logo = get_logo('PRODUCT_LOGO') %}
{% set product_side_logo = get_logo('PRODUCT_SIDE_LOGO') %}


{% block content %}

  <div class="page-header">
    <h2>Settings Overview</h2>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
              <th>Preview</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Backend Version</td>
              <td>{{ VERSION }}</td>
              <td></td>
            </tr> <tr>
              <td>Product Title</td>
              <td>{{ config.PRODUCT_TITLE }}</td>
              <td></td>
            </tr>
            <tr>
              <td>Logo</td>
              <td>{{ config.PRODUCT_LOGO }}</td>
              <td>
                {% if config.PRODUCT_LOGO %}
                <img src="{{ product_logo.url|no_image_cache }}" class="logo" alt="" width="75" height="75">
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Side Logo</td>
              <td>{{ config.PRODUCT_SIDE_LOGO }}</td>
              <td>
                {% if config.PRODUCT_SIDE_LOGO %}
                <img src="{{ product_side_logo.url|no_image_cache }}" class="logo" alt="" width="75" height="75">
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div> {# table-responsive #}

      <p>For any changes, please contact the administrator (<b>{{ config['ADMINISTATOR_EMAIL'] }}</b>)!</p>
    </div>
  </div> {# row #}

{% endblock %}
