{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb %}


{% set title = "Roles" %}

{% block title %} {{ title }} {% endblock %}


{% block scripts %}

  <script>
    $(function () {
      $('#roles').dataTable({"order": []});

      $('#change-meeting-owner').on('submit', 'form', function (e) {
        e.preventDefault();
        var url = $(this).attr('action');
        var data = $(this).serialize();
        $.post(url, data, function (data) {
          if(data.status == 'success') {
            window.location.replace(data.url);
          }
          if(data.status == 'error') {
            $('#change-meeting-owner').find('.modal-content')
                                      .html(data.html);
          }
        });
      });
    });
  </script>

{% endblock %}


{% block breadcrumb %} {{ breadcrumb([('', 'Roles')]) }} {% endblock %}


{% block content %}

  {{ super() }}
  <h3 class="page-title">{{ title }}<br>
    <small>
      List of staff members who can manage this meeting. The owner of this meeting is: {{ g.meeting.owner }}.
    </small>
  </h3>

  <div class="table-responsive">
    <table id="roles" class="table table-bordered table-condensed">

      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>

      <tbody>
        {% for role_user in role_users %}
          {% set url = url_for('.role_user_edit', role_user_id=role_user.id) %}
          <tr>
            <td><a href="{{ url }}">{{ role_user.staff.full_name }}</a></td>
            <td>{{ role_user.user.email }}</td>
            <td>{{ role_user.role.name }}</td>
          </tr>
        {% endfor %}
      </tbody>

    </table> {# table-responsive #}

  </div>

  <div class="actions">
    <a href="{{ url_for('.role_user_edit') }}"
       class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-plus"></span>
      Add a new role</a>
    {% if current_user.is_superuser %}
      <a href="{{ url_for('.role_meeting_change_owner') }}"
         class="btn btn-default btn-sm"
         data-toggle="modal" data-target="#change-meeting-owner">
        <span class="glyphicon glyphicon-user"></span>
        Change meeting owner</a>
    {% endif %}
  </div>

  <div class="modal fade" id="change-meeting-owner" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div> {# modal #}

{% endblock %}
