{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb, form_group, flashed_messages %}


{% set title = participant.name %}


{% block title %} {{ title }} {% endblock %}


{% block head %}

  {% assets "upload_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

{% endblock %}


{% block scripts %}

  {% assets "upload_js" %}
     <script src="{{ ASSET_URL }}"></script>
  {% endassets %}

{% endblock %}


{% block breadcrumb %}
  {% if g.meeting.meeting_type != g.meeting.DEFAULT_TYPE %}
    {{ breadcrumb( [
        (url_for('meetings.media_participants'), 'Media Participants'),
        ('', title)
    ] ) }}
  {% endif %}

{% endblock %}

{% block messages %}
  {% if g.meeting.meeting_type == g.meeting.DEFAULT_TYPE %}
    {{ flashed_messages() }}
  {% endif %}
{% endblock %}


{% block content %}
  {% if g.meeting.meeting_type != g.meeting.DEFAULT_TYPE %}
    {{ super() }}
    <h3 class="page-title" style="margin: 0">{{ title }}</h3>
    {% set edit_url = url_for('.media_participant_edit',
                         participant_id=participant.id) %}
  {% else %}
    <div class="page-header">
      <h2>{{ title }} - Default Participant</h2>
    </div>
    {% set edit_url = url_for('.default_participant_edit',
                         participant_id=participant.id) %}
  {% endif %}


  <div class="actions">
    <a href="{{ edit_url }}" class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-pencil"></span> &nbsp;
      Edit participant</a>

    {% if g.meeting.meeting_type != g.meeting.DEFAULT_TYPE %}
      {% with delete_url = url_for('.media_participant_edit', participant_id=participant.id) %}
        {% include "meetings/participant/_detail_actions.html" %}
      {% endwith %}
    {% endif %}
  </div>

    {% include "meetings/participant/_detail_forms.html" %}

{% endblock %}
