{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb %}


{% block title %}List of media participants{% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [
      ('', 'Media Participants')
  ] ) }}

{% endblock %}


{% block scripts %}

  <script>
    $(function () {
      var participants = $("#media_participants");
      participants.dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": participants.data("ajax"),
        "columns": [
            { "data": "id", "className": "text-center" },
            { "data": "last_name" },
            { "data": "category_id" }
        ]
      });
    });
  </script>

{% endblock %}


{% block content %}

  {{ super() }}

  <div class="table-responsive">

    <table id="media_participants"
           class="table table-bordered table-condensed table-striped"
           data-ajax="{{ url_for('.media_participants_filter') }}">
      <thead>
        <tr>
          <th style="width: 60px;" class="text-center">ID</th>
          <th>Name</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

  </div> {# table-responsive #}

  {% if current_user.can_manage_media_participants(g.meeting.id) %}
    <div class="actions">
      <a href="{{ url_for('.media_participant_edit') }}" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
        Add a new media participant
      </a>
    </div>
  {% endif %}

{% endblock %}
