{% extends "meetings/participant/base/_detail.html" %}


{% set title = participant.name %}


{% block breadcrumb %}

  {{ breadcrumb( [
      (url_for('meetings.participants'), 'Participants'),
      ('', title)
  ] ) }}

{% endblock %}


{% block content_header %}

  <h3 class="page-title" style="margin: 0">{{ title }}</h3>

  {% set edit_url = url_for('.participant_edit',
                            participant_id=participant.id) %}
  <div class="actions">
    {% if has_perm('manage_participant') %}
      <a href="{{ edit_url }}" class="btn btn-primary btn-sm"
         id="participant_edit">
        <span class="glyphicon glyphicon-pencil"></span> &nbsp;
        Edit participant</a>
    {% endif %}

    {% include "meetings/participant/participant/_actions.html" %}
  </div>

  <!-- <h1>{{ participant.registration_date }}</h1> -->

{% endblock %}
