{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb %}


{% block title %}List of participants{% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [
      ('', 'Participants')
  ] ) }}

{% endblock %}


{% block scripts %}

  <script>
    $(function () {
      var participants =  $("#participants");
      participants.dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": participants.data("ajax"),
        "columns": [
            { "data": "id", "className": "text-center" },
            { "data": "last_name" },
            { "data": "category_id" },
            { "data": "representing", "orderable": false },
            { "data": "attended", "className": "text-center" },
            { "data": "verified", "className": "text-center" },
            { "data": "credentials", "className": "text-center" }
        ]
      });
    });
  </script>

{% endblock %}



{% block content %}

  {{ super() }}

  <div class="table-responsive">

    <table id="participants"
           class="table table-bordered table-condensed table-striped"
           data-ajax="{{ url_for('.participants_filter') }}">
      <thead>
        <tr>
          <th style="width: 60px;" class="text-center">ID</th>
          <th>Name</th>
          <th>Category</th>
          <th>Representing</th>
          <th>Attended</th>
          <th>Verified</th>
          <th>Credentials</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

  </div> {# table-responsive #}

  <div class="actions">
    {% if current_user.can_manage_participants(g.meeting.id) %}
      <a href="{{ url_for('.participant_edit') }}" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
        Add a new participant
      </a>
    {% endif %}

    <a href="{{ url_for('.participants_export') }}" class="btn btn-default btn-sm">
      Export to excel
    </a>
  </div>

{% endblock %}
