
{% macro form_group(field, label_size="2", input_size="8",
                    class_="", options={}) %}

  {% set label_cls = "col-sm-" + label_size  + " control-label" %}

  <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label class="{{ label_cls }}" for="{{ field.id }}">
      {{ field.label.text }}
      {% if field.flags.required %}
        <span class="text-danger">*</span>
      {% else %}
      {% endif %}
    </label>
    {% if field.type not in ('FileField',)%}
      {% set cls = "form-control " + class_ %}
    {% else %}
      {% set cls = class_ %}
    {% endif %}
    <div class="col-sm-{{ input_size }}">
      {{ field(class_=cls, placeholder=field.label.text, **options) }}
      {% if field.errors %}
        <div class="text-danger"><small>{{ field.errors[0] }}</small></div>
      {% endif %}
    </div>
  </div> {# form-group #}


{% endmacro %}


{% macro breadcrumb(crumbs) %}

  <ol class="breadcrumb">
    {% for crumb in crumbs %}
      <li class="{% if loop.last %}active{% endif %}">
        {% if not loop.last %}
          <a href="{{ crumb[0] }}">{{ crumb[1] }}</a>
        {% else %}
         {{ crumb[1] }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>

{% endmacro %}


{% macro row_link(link) %}

  <div class="row-link">
    <a href="{{ link[0] }}" class="label label-danger">
      {{ link[1] }}</a>
  </div>

{% endmacro %}


{% macro flashed_messages() -%}

  {% for categ, msg in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ categ }}" role="alert">
      {{ msg|safe }}</div>
  {% endfor %}

{%- endmacro %}

