
{% macro form_group(field, label_size="2", input_size="8",
                    class_="", options={}) %}

  {% set label_cls = "col-sm-" + label_size  + " control-label" %}

  <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label class="{{ label_cls }}" for="{{ field.id }}">
      {{ field.label.text }}
      {% if field.flags.required %}
        <span class="text-danger">*</span>
      {% endif %}
    </label>
    {% if field.type not in ('FileField', 'BooleanField',
                             'MultiCheckboxField', 'RadioField',
                             'CategoryField') %}
      {% set cls = "form-control " + class_ %}
    {% else %}
      {% set cls = class_ %}
    {% endif %}
    <div class="col-sm-{{ input_size }}">
      {{ field(class_=cls, placeholder=field.label.text, **options) }}
      {% if field.description %}
        <div class="help-block">{{ field.description }}</div>
      {% endif %}
      {% if field.errors %}
        <div class="text-danger"><small>{{ field.errors[0] }}</small></div>
      {% endif %}
    </div>
  </div> {# form-group #}


{% endmacro %}


{% macro breadcrumb(crumbs) %}

  <ol class="breadcrumb">
    {% for crumb in crumbs %}
      <li class="{% if loop.last %}active{% endif %}">
        {% if not loop.last %}
          <a href="{{ crumb[0] }}">{{ crumb[1] }}</a>
        {% else %}
         {{ crumb[1] }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>

{% endmacro %}


{% macro row_link(link) %}

  <div class="row-link">
    <a href="{{ link[0] }}" class="label label-danger">
      {{ link[1] }}</a>
  </div>

{% endmacro %}

{% macro activity_url(activity) %}
  {% if activity.participant.deleted %}
    <span class="delete">deleted /
      <a data-toggle="restore"
         data-href="{{ url_for('.participant_restore', participant_id=activity.participant.id) }}"
         data-message="Are you sure you want to restore this participant?">Restore
      <small style="position:relative; right: -2px;">
        <span class="glyphicon glyphicon-repeat"></span>
      </small></a>
    </span>
  {% else %}
    {% set url = activity.participant.get_aboslute_url() %}
    <a href="{{ url }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
  {% endif %}
{% endmacro %}


{% macro flashed_messages() -%}

  {% for categ, msg in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ categ }} center-block" role="alert">
      {{ msg|safe }}</div>
  {% endfor %}

{%- endmacro %}


{% macro list_inputs(inputs) %}

  <ul class="list-unstyled row">
    {% for input in inputs %}
      <li class="col-sm-4">
        {{ input.label }}
        {% if input.flags.required %}
          <span class="text-danger">*</span>
        {% endif %}
        {{ input(class_="form-control",
                 placeholder=input.label.text) }}
        {% if input.flags.required %}
          <div class="text-danger">
            <small>{{ input.errors[0] }}</small>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endmacro %}


{% macro form_group_with_list_inputs(field, label_size="2",
                                     input_size="8") %}

  {% set label_cls = "col-sm-" + label_size  + " control-label" %}

  <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label class="{{ label_cls }}" for="{{ field.id }}">
      {{ field.label.text }}
      {% if field.flags.required %}
        <span class="text-danger">*</span>
      {% endif %}
    </label>

    <div class="col-sm-{{ input_size }}">
      <div class="panel panel-default">
        <div class="panel-body">
          {{ list_inputs([field.english, field.french,
                          field.spanish]) }}
        </div>
      </div>
    </div>
  </div> {# form-group #}

{% endmacro %}


{% macro render_pagination(pagination, endpoint, extra={}) %}

  <ul class="pagination">

    {% if pagination.has_prev %}
      <li><a href="{{ url_for(endpoint,
                              page=pagination.prev().page,
                              **extra) }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><a>&laquo;</a></li>
    {% endif %}

    {%- for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <li>
            <a href="{{ url_for(endpoint, page=page, **extra) }}">
              {{ page }}</a>
          </li>
        {% else %}
          <li class="active"><a>{{ page }}</a></li>
        {% endif %}
      {% else %}
        <li class="disabled">
          <span class="ellipsis">…</span>
        </li>
      {% endif %}

    {%- endfor %}

    {% if pagination.has_next %}
      <li><a href="{{ url_for(endpoint,
                              page=pagination.next().page,
                              **extra) }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><a>&raquo;</a></li>
    {% endif %}

  </ul>

{% endmacro %}


{% macro meeting_title_for_printouts() %}

  {{ g.meeting.title }} <br>
  {{ g.meeting.venue_city.english }}
  ({{ g.meeting.venue_country }}) {{ g.meeting.venue_state }},
  {{ date_processor(g.meeting.date_start, g.meeting.date_end) }}

{% endmacro %}
