<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {% block title %}{% endblock %} - {{ config.PRODUCT_TITLE }}
    </title>

    {% assets "css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% block head %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand"
             href="{{ url_for('meetings.home') }}">
            {{ config.PRODUCT_TITLE }}</a>
        </div>

      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated() %}
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown">
              {{ current_user }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{{ url_for('auth.change_password') }}">
                  Change Password</a>
              </li>
              <li>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
              </li>
            </ul>
          </li>
        {% endif %}
        <li class="{{ active('/meetings') }}">
          <a href="{{ url_for('meetings.home') }}">
            Meetings</a>
        </li>
        <li class="{{ active('/admin') }} dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Admin <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="{{ active('/admin/categories') }}">
              <a href="{{ url_for('admin.categories') }}">
                Default Categories</a>
            </li>
            <li class="{{ active('/admin/phrases') }}">
              <a href="{{ url_for('admin.phrases') }}">
                Default Phrases</a>
            </li>
            <li class="{{ active('/admin/staff') }}">
              <a href="{{ url_for('admin.staff') }}">
                Staff</a>
            </li>
          </ul>
        </li>
      </ul>

      </div>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {% assets "js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block scripts %}{% endblock %}
  </body>

</html>
