<div class="ack-registration-number">Registration No. {{ participant.id }}</div>

<div class="printout-doc-title">
  <h2>{{ g.meeting }}</h2>
</div>

<div class="ack-subheader">
  <h3>Details of registration - {{ participant.category }}</h3>
</div>

<div class="ack-content">

  <div class="row">
    <div class="col-sm-4 ack-label">Name</div>
    <div class="col-sm-8">
      {{ participant.name }} <br/>

      {% if participant.represented_organization %}
        {{ participant.represented_organization }} <br/>
      {% endif %}

      {{ participant.country }} <br/>
      {{ participant.email }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 ack-label">Category</div>
    <div class="col-sm-8">
      {{ participant.category }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 ack-label">Representative of</div>
    <div class="col-sm-8">
      {{ participant.representing }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 ack-label">Working language</div>
    <div class="col-sm-8">
      {{ participant.language }}
    </div>
  </div>

</div>
