{% from "_bits.html" import meeting_title_for_printouts %}


<div class="printout-doc-title">
  <h4>{{ meeting_title_for_printouts() }}</h4>
  <h2>{{ title }}</h2>
  {% if flag %}<h3>{{ flag|capitalize }}</h3>{% endif %}
</div>


<div class="printout-item-container">

  <table class="table table-bordered table-condensed">

      <thead>
        <tr class="column-headers">
          <th class="text-center">Cred</th>
          <th>Representing</th>
          <th>Name</th>
          <th>Category</th>
        </tr>
      </thead>

      <tbody>

        {% for participant in participants %}
          <tr>
              <td class="text-center" style="width: 5%;">
              {% if participant.credentials %}
                <span class="checked">✔</span>
              {% endif %}
              </td>
              <td class="printout-representing">
                {{ participant.representing|safe }}</td>
              <td id="participant-name" data-id="{{ participant.id }}">
                {{ participant.last_name|upper }}
                {{ participant.first_name }}
              </td>
              <td>
                {{ participant.category.title }}
              </td>
          </tr>
        {% endfor %}     

      </tbody>

  </table>

</div> {# printout-item-container #}
