{% from "_bits.html" import meeting_title_for_printouts %}


<div class="printout-doc-title">
  <h4>{{ meeting_title_for_printouts() }}</h4>
  <h2>{{ title }}</h2>
  {% if flag %}<h3>{{ flag|capitalize }}</h3>{% endif %}
</div>


<div class="printout-item-container">

    {% for language, new_people in participants %}

      <h3> {{ language|upper }} </h3>

      <table id="{{ language|lower }}-container" class="table table-bordered table-condensed">

        <thead>
          <tr class="column-headers">
          <th>Qty</th>
          <th>Delegation</th>
          </tr>
        </thead>

        <tbody>

          {% for category_sort_id, list in new_people|groupby('category.sort') %}

            <tr class="highlight">
              <th colspan="4" id="category-name" class = "text-center" data-id="{{ categories_map[category_sort_id].title.english|slugify }}">
                {{categories_map[category_sort_id]}} - Total: {{ list|length }}
              </th>
            </tr>

            {% for representing, persons in list|groupby('representing') %}

              <tr>
                <td class="text-center">{{ persons|length }}</td>
                <td id="representing-name" data-id="{{ representing|safe|slugify }}">{{ representing|safe }}</td>
              </tr>

            {% endfor %}

          {% endfor %}

        </tbody>

      </table>

    {% endfor %}

</div> {# printout-item-container #}
