{% from "_bits.html" import meeting_title_for_printouts %}


<div class="printout-doc-title">
  <h4>{{ meeting_title_for_printouts() }}</h4>
  <h2>{{ title }} - Total: {{ count }}</h2>
</div>


<div class="printout-item-container">

  <table class="table table-bordered table-condensed">

      <thead>
        <tr class="column-headers">
          <th>Name</th>
          <th>Representing</th>
          <th>Category</th>
          <th class="text-right">Language</th>
        </tr>
      </thead>

      <tbody>

        {% for group, list in participants %}

          <tr class="highlight">
            <th colspan="4" class="text-center"
                data-id="{{ group.label.english|slugify }}">
              {{ group }}</th>
          </tr>

          {% for cfv in list %}
            <tr>
              <td id="participant-name" data-id="{{ cfv.participant.id }}">
                {{ cfv.participant.last_name|upper }}
                {{ cfv.participant.first_name }}
              </td>
              <td style="width: 30%;">
                {{ cfv.participant.representing }}</td>
              <td class="text-center">
                {{ cfv.participant.category }}
              </td>
              <td class="text-center" style="width: 20%">
                {{ cfv.participant.language }}</td>
            </tr>
          {% endfor %}

        {% endfor %}

      </tbody>

  </table>

</div> {# printout-item-container #}
