{% from "_bits.html" import meeting_title_for_printouts %}


<div class="printout-doc-title">
  <h4>{{ meeting_title_for_printouts() }}</h4>
  <h2>{{ title }} - Total: {{ count }}</h2>
</div>


<div class="printout-item-container">
  {% for (group1_label, group1_value), group_participants2 in grouped_participants.items() %}
    <table class="table table-bordered table-condensed provisional-table">
      <thead>
      <tr class="group1-value">
        <th colspan="{{ selected_fields|length }}">
          {{ group1_value }}
        </th>
      </tr>
      </thead>
      {% for (group2_label, group2_value), participants in group_participants2.items() %}
        <thead>
        <tr class="group2-value">
          <th colspan="{{ selected_fields|length }}">
            {{ group2_label }}: {{ group2_value }}
          </th>
        </tr>
        <tr class="column-headers">
          {% for field in selected_fields %}
            <th>
              {{ field.label.text }}
            </th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for (ignored, participant) in participants %}
          <tr>
            {% for field in participant.get_fields(selected_field_ids) %}
              <td>{{ field.render_data() }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      {% endfor %}
    </table>

  {% endfor %}


</div> {# printout-item-container #}
