{% from "_bits.html" import meeting_title_all_languages with context %}
{% set product_logo = get_logo('PRODUCT_LOGO') %}
{% set product_side_logo = get_logo('PRODUCT_SIDE_LOGO') %}

<table class="title">
  <tr>
    <td>
      <img class="printout-logo" src="{{ product_logo.url }}">
    </td>

    <td>
      <div class="printout-doc-title">
        <h4>{{ meeting_title_all_languages() }}</h4>
        <h2>{{ title }} - Total: {{ count }}</h2>
      </div>
    </td>

    <td>
      <img class="printout-logo" src="{{ product_side_logo.url }}">
    </td>
  </tr>
</table>

<div class="printout-item-container">

  {% for (group1, group1_value), group_participants2 in grouped_participants.items() %}
    <div style="page-break-inside: avoid;">
      <h4 class="highlight text-center">
        {{ group1.title.english }} /
        {{ group1.title.french }} /
        {{ group1.title.spanish }}

      </h4>
      {% for (group2_label, group2_value), participants in group_participants2.items() %}
        <div style="page-break-inside: avoid;">
        <h5 style="font-size: large">
          <b>
            {{ group2_label }}:
          </b>
          {{ group2_value }}
        </h5>
        {% for (ignored, participant) in participants %}
          <div style="page-break-inside: avoid;">
            <table class="custom-fields-table">
              {% for field in participant.get_fields(selected_field_ids) %}
                {% if field.id != "category_id" and field.label.text != group2_label %}
                  <tr>
                    <td>{{ field.label.text }}:</td>
                    <td>{{ field.render_data() }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>
          <hr/>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div> {# printout-item-container #}
