{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb, render_pagination %}


{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [
      ('', 'Delegations'),
  ] ) }}

{% endblock %}


{% block head %}

  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/printouts.css') }}">

{% endblock %}


{% block content %}

  {{ super() }}

  <div id="infinite-scroll-container" class="printout-container">

    <div>
      <form method="POST" class="text-right">
        <button class="btn btn-danger btn-sm btn-download" type="submit">
          <span class="glyphicon glyphicon-download"></span>
          Download as pdf</button>
      </form>
    </div>

    {% with title=title %}
      {% include "meetings/printouts/_delegation_list_table.html" %}
    {% endwith %}

    <div class="printout-loading"></div>


  </div> {# /.delegation-list-container #}

{% endblock %}
