<html>
  <head>
    <script>
      function subst() {
        var vars={};
        var x=window.location.search.substring(1).split('&');
        for (var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection', 'doctitle', 'title'];

        for (var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for (var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
    <style type="text/css">
      {{ inject_static_file('css/reset.css') }}

      body {
        font-style: italic;
        font-size: 0.6em;
      }
      table {
        width: 100%;
      }
      table td {
        width: 49%
      }

    </style>

  </head>

  <body onload="subst()">
    <table>
      <tr>
        <td style="text-align: left;">
          <span class="doctitle"></span>
        </td>
        <td style="text-align: right;">
          Printed on {{ now.strftime('%d.%m.%Y') }} - page:
          <span class="page"></span>
        </td>
      </tr>
    </table>
  </body>
</html>
