{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb %}


{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [
      ('', title),
  ] ) }}

{% endblock %}


{% block head %}

  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/printouts.css') }}">

{% endblock %}


{% block content %}

  {{ super() }}

  <form method="GET">
    <div class="panel panel-default">
      <div class="panel-heading"><b>{{ title }}</b></div>
      <div class="panel-body" id="filter-form">
        <h4> Flag </h4>
        {{ flag_form.flag(
            class_="form-control form-reset-control select") }}
        <h4> Category tags </h4>
        {{ category_tags_form.category_tags(
            class_="form-control form-reset-control select",
            **{'data-placeholder': 'Select one or more category tags' }) }}
        <h4> Categories </h4>
        {{ categories_form.categories(
            class_="form-control form-reset-control select",
            **{'data-placeholder': 'Select one or more categories',
               'data-href': url_for('.categories_for_tags') }) }}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Preview</button>
        </div>
      </div>
    </div>
  </form>

  <div id="infinite-scroll-container" class="printout-container">

    <div>
      <form method="POST" class="text-right">
        <button class="btn btn-danger btn-sm btn-download" type="submit">
          <span class="glyphicon glyphicon-download"></span>
          Download as pdf</button>
      </form>
    </div>

    {% with title=title %}
      {% include "meetings/printouts/_observers_table.html" %}
    {% endwith %}

    <div class="printout-loading"></div>

    <ul class="pagination">
      {% if pagination.has_prev %}
        {% set prev_url = url_for('.printouts_observers',
                                  page=pagination.prev().page,
                                  category_tags=category_tags,
                                  categories=categories,
                                  flag=flag.slug) %}
        <li><a href="{{ prev_url }}">Previous</a></li>
      {% endif %}
      {% if pagination.has_next %}
        {% set next_url = url_for('.printouts_observers',
                                  page=pagination.next().page,
                                  category_tags=category_tags,
                                  categories=categories,
                                  flag=flag.slug) %}
        <li><a href="{{ next_url }}" class="next">Next</a></li>
      {% endif %}
    </ul>

  </div>

{% endblock %}
