{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb %}


{% set title = 'Processing file list' %}


{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [
      ('', title),
  ] ) }}

{% endblock %}


{% block content %}

  {{ super() }}

  <h3 class="page-title">{{ title }}</h3>
  <p><em>All files will be deleted after one week.</em></p>
  <table class="table table-bordered table-condesed">

    <thead>
      <tr>
        <th>JobId</th>
        <th>Name</th>
        <th>User</th>
        <th>Date</th>
        <th>Status</th>
        <th>Result</th>
      </tr>
    </thead>

    <tbody>
      {% for job in jobs %}
        <tr class="{% if job.is_finished %}success{% endif %}
                   {% if job.is_failed %}danger{% endif %}
                   {% if job.is_started %}active{% endif %}">
          <td>{{ job.id }}</td>
          <td>{{ job.name|title }}</td>
          <td>{{ job.user }}</td>
          <td>{{ job.date.strftime('%d.%m.%Y %H:%M') }}</td>
          <td>{{ job.status }}</td>
          <td>{{ job.result }}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

{% endblock %}
