{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb %}


{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [
      ('', 'Provisional list'),
  ] ) }}

{% endblock %}


{% block head %}

  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/printouts.css') }}">

{% endblock %}


{% block content %}

  {{ super() }}

  <form method="GET">
    <div class="panel panel-default">
      <div class="panel-heading"><b>{{ title }}</b></div>
      <div class="panel-body">
        <label for="select2-flag-container">
          Filter participants
        </label>
        {{ flag_form.flag(
            class_="form-control form-reset-control select") }}
        <hr>
        <label for="">
          Filter category
        </label>
        <br/>
        <select name="category_filter" id="category_filter"
                data-placeholder="Select one or more categories"
                class="form-control form-reset-control select" multiple>
          <option value="">---</option>
          {% for category in g.meeting.categories.all() %}
            <option value="{{ category.id }}"
                    {% if category.id|string in request.args.getlist('category_filter') %}selected{% endif %}>
              {{ category.title }}
            </option>
          {% endfor %}
        </select>
        <hr>
        <label for="category_filter">
          Fields to display
        </label>
        <div class="selected-fields-inputs">
          {% for field in all_fields %}
            <div>
              <input {% if field.id in selected_field_ids %}checked{% endif %}
                     class="" id="field_{{ field.id }}"
                     name="field_{{ field.name }}"
                     placeholder="{{ field.label.text }}" type="checkbox"
                     style="vertical-align: top;">
              <label for="field_{{ field.id }}" style="max-width: 90%;">{{ field.label.text }}</label>
            </div>
          {% endfor %}
        </div>
        <hr/>
        <div class="sorting-fields-inputs">
          <div>
            <label for="sort_by">Sort by</label><br/>
            <select id="sort_by" name="sort_by" class="form-control form-reset-control select">
              <option value="">---</option>
              {% for field in sortable_fields %}
                <option value="{{ field.id }}" {% if request.args.get('sort_by') == field.id %}selected{% endif %}>
                  {{ field.label.text }}
                </option>
              {% endfor %}
            </select>
          </div>
          <div>
            <label for="sort_by_direction">Sort order</label><br/>
            <select name="sort_by_direction" id="sort_by_direction" class="form-control form-reset-control select">
              <option value="asc">Ascending</option>
              <option value="desc" {% if request.args.get('sort_by_direction') == "desc" %}selected{% endif %}>
                Descending
              </option>
            </select>
          </div>
          <div>
            <label for="group_by">Group by</label><br/>
            <select id="group_by" name="group_by" class="form-control form-reset-control select">
              <option value="">---</option>
              {% for field in groupable_fields %}
                <option value="{{ field.id }}" {% if request.args.get('group_by') == field.id %}selected{% endif %}>
                  {{ field.label.text }}
                </option>
              {% endfor %}
            </select>
          </div>
          <div>
            <label for="group_by_direction">Group order</label><br/>
            <select name="group_by_direction" id="group_by_direction" class="form-control form-reset-control select">
              <option value="asc">Ascending</option>
              <option value="desc" {% if request.args.get('group_by_direction') == "desc" %}selected{% endif %}>
                Descending
              </option>
            </select>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Preview</button>
        </div>
      </div>
    </div>
  </form>

  <div id="infinite-scroll-container" class="printout-container">

    <div>
      <form method="POST" class="text-right">
        <button class="btn btn-danger btn-sm btn-download" type="submit">
          <span class="glyphicon glyphicon-download"></span>
          Download as pdf
        </button>
      </form>
    </div>

    {% with title=title %}
      {% include "meetings/printouts/_provisional_list_table.html" %}
    {% endwith %}

    <div class="printout-loading"></div>

    <ul class="pagination">
      {% if pagination.has_prev %}
        {% set prev_url = url_for('.printouts_provisional_list',
                                  page=pagination.prev().page,
                                  flag=flag.slug) %}
        <li><a href="{{ prev_url }}">Previous</a></li>
      {% endif %}
      {% if pagination.has_next %}
        {% set next_url = url_for('.printouts_provisional_list',
                                  page=pagination.next().page,
                                  flag=flag.slug) %}
        <li><a href="{{ next_url }}" class="next">Next</a></li>
      {% endif %}
    </ul>

  </div>

{% endblock %}
