{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb %}


{% block breadcrumb %}

  {{ breadcrumb( [
      ('', 'Short list'),
  ] ) }}

{% endblock %}


{% block head %}

  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/printouts.css') }}">

{% endblock%}


{% block content %}

  {{ super() }}

  <div class="short-list-container">

    <table repeat="1">
      <thead>
        <th style="width: 4%">Pic</th>
        <th>Representing</th>
        <th>Name</th>
        <th style="width: 4%">Cat</th>
        <th style="width: 4%">Cred</th>
        <th style="width: 4%">Appr</th>
        <th style="width: 4%">Inv</th>
        <th>Fee</th>
        <th style="width: 4%">Lang</th>
      </thead>

      <tbody>
        {% for group, participants in grouped_participants %}
          <tr><td colspan="9">{{ group }}</td></tr>
          {% for participant in participants %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>

    </table>

  </div>
{% endblock %}
