{% extends "_layout_pdf.html" %}


{% block head %}

  <style type="text/css">
    {{ inject_static_file('css/printouts.css') }}
    {{ inject_static_file('css/landscape.css') }}
  </style>

  <style type="text/css">

    @page {
        @top-left {
        content: "TOP SECRET";
        color: red
        }
        @bottom-right {
            content: counter(page);
        font-style: italic
        }
    }
  </style>

{% endblock %}


{% block content %}
  {% include "meetings/printouts/_short_list_table.html" %}
{% endblock %}
