
{% set url = url_for(
    'files',
    filename=config['PATH_CUSTOM_KEY'] ~ '/' ~ field.data.filename) %}

<div class="file-field-container">
  {% set show = field.data and field._use_current_file %}
  {% if show %}
    <div class="bg-info" style="margin-bottom: 10px;">
      <label>
      <input name="{{ field.name }}-use-current-file"
             type="checkbox" checked="checked"
             class="use-current-file"
             value="{{ field.data.filename }}">
      {{ gettext('Use this photo for registration') }}:</label>
      <a href="{{ url }}" target="_blank">{{ field.data.filename }}</a>
    </div>
  {% endif %}

  <div class="file-field-input {% if show %}hide{% endif %}"
       data-type="image">
    {{ default_widget(field, **field_kwargs) }}
    <div id="image_crop_{{ field.name }}" class="image-crop-registration" style="display: none;">
      <div class="well">
        <p>
          Left-click and drag to select the area that you want to remain.
          Remember the area you are selecting is the part of the photo that will be kept, the rest will be removed.
        </p>
      </div>
      <img id="photo_{{ field.name }}" src="#" alt="">
      <input type="hidden" name="{{ field.name }}_x1">
      <input type="hidden" name="{{ field.name }}_y1">
      <input type="hidden" name="{{ field.name }}_x2">
      <input type="hidden" name="{{ field.name }}_y2">
      <input type="hidden" name="{{ field.name }}_w">
      <input type="hidden" name="{{ field.name }}_h">
    </div>
  </div>

</div> {# /.file-field-container #}
