{% extends "meetings/registration/_base.html" %}
{% from "_bits.html" import form_group, flashed_messages %}


{% block content %}
  {{ flashed_messages() }}

  <form method="POST" class="form-horizontal" enctype="multipart/form-data">

    {% for field in form %}
      {{ form_group(field) }}
    {% endfor %}

    <div class="form-actions row">
      <div class="col-sm-4 col-sm-push-2">
        <button type="submit" class="btn btn-primary">
            Submit</button>
      </div>
    </div>

  </form>

{% endblock %}
