{% extends "meetings/registration/_base.html" %}
{% from "_bits.html" import form_group %}


{% block content %}

  <form method="POST" class="form-horizontal">

    {{ form_group(form.title, class_="input-sm", input_size="2",
                  options={'autofocus': "autofocus"}) }}

    {{ form_group(form.first_name, class_="input-sm", input_size="4") }}

    {{ form_group(form.last_name, class_="input-sm", input_size="4") }}

    {{ form_group(form.country, class_="input-sm", input_size="4") }}

    {{ form_group(form.email, class_="input-sm", input_size="4") }}

    {{ form_group(form.category_id, class_="list-unstyled radio_field",
                  input_size="4") }}

    {{ form_group(form.language, class_="input-sm", input_size="4") }}

    <div class="form-actions row">
      <div class="col-sm-4 col-sm-push-2">
        <button type="submit" class="btn btn-primary">
            Submit</button>
      </div>
    </div>

  </form>

{% endblock %}
