{% extends "meetings/registration/_base.html" %}
{% from "_bits.html" import form_group, flashed_messages %}


{% block content %}

  {{ flashed_messages() }}

  <div class="text-right">
    {% if current_user.is_authenticated() %}
    <a href="{{ url_for('.registration_user_logout') }}">
        Logout</a>
    {% else %}
      <a href="{{ url_for('.registration_user_login') }}">
        Login and pre fill the registration form</a>
    {% endif %}
  </div>

  <form method="POST" class="form-horizontal" enctype="multipart/form-data">

    {% for field in form %}
      {% if field.type == 'FileField' %}
        {{ field.data }}
      {% endif %}
      {{ form_group(field, label_size="2", input_size="10") }}
    {% endfor %}

    <div class="form-actions row">
      <div class="col-sm-4 col-sm-push-2">
        <button type="submit" class="btn btn-primary">
            Submit</button>
      </div>
    </div>

  </form>

{% endblock %}
