<html>

<head>
  <style>
    table {
      width: 100%;
      background: #ddd;
    }

    table th, table td {
      background: #fff;
      padding: 8px;
    }

    table th {
      text-align: left;
      width: 200px;
      font-weight: bold;
    }
  </style>
</head>

<body>
</body>

<h4>{{ phrase.description[g.language_verbose]|nl2br }}</h4>

<table>
  <tbody>
    <tr>
      <th>{{ participant.label('category_id') }}</th>
      <td>{{ participant.category }}</td>
    </tr>

    <tr>
      <th>{{ participant.label('first_name') }}</th>
      <td>{{ participant.first_name }}</td>
    </tr>

    <tr>
      <th>{{ participant.label('last_name') }}</th>
      <td>{{ participant.last_name }}</td>
    </tr>

    <tr>
      <th>{{ participant.label('email') }}</th>
      <td>{{ participant.email }}</td>
    </tr>

    <tr>
      <th>{{ participant.label('language') }}</th>
      <td>{{ participant.language }}</td>
    </tr>

    <tr>
      <th>{{ participant.label('country') }}</th>
      <td>{{ participant.country }}</td>
    </tr>

    <tr>
      <th>{{ participant.label('represented_country') }}</th>
      <td>{{ participant.represented_country }}</td>
    </tr>

    <tr>
      <th>{{ participant.label('represented_organization') }}</th>
      <td>{{ participant.represented_organization }}</td>
    </tr>

  </tbody>
</table>

</html>
