{% from "_bits.html" import form_group, static_form_group %}

<form class="form-horizontal" role="form" method="POST">
    {{ form.csrf_token }}

    <div class="panel panel-default">

      <div class="panel-heading">
        <b>Category tag details</b>
      </div>

      <div class="panel-body">
        {{ form_group(form.label) }}
      </div>
    </div>

    <div class="form-actions row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <small>or <a href="{{ url_for('.categories') }}">Cancel</a></small>
      </div>
      {% if category_tag %}
        {% set url = url_for('.category_tag_edit', category_tag_id=category_tag.id)%}
        <div class="col-sm-6 text-right">
          <a class="delete" data-toggle="delete"
             data-href="{{ url }}"
             data-message="Are you sure you want to delete this category tag?">
            <span class="glyphicon glyphicon-remove"></span>
            Delete this category tag</a>
        </div>
      {% endif %}
    </div>

  </form>
