
<div class="category-container">

  <div class="table-responsive">

    <table id="categories"
           class="table table-bordered table-condensed sortable"
           data-url="{{ url_for('.category_update_position') }}">

      <thead>
        <tr>
          <th class="handler"></th>
          <th>Name</th>
          <th>Type</th>
          <th>Badge color</th>
        </tr>
      </thead>

      <tbody>
        {% for category in categories %}
          {% set url = url_for('.category_edit',
                               category_id=category.id) %}
          <tr id="items-{{ category.id }}">
            <td class="handler">
              <span class="glyphicon glyphicon-align-justify"></span>
            </td>
            <td>
              <a href="{{ url_for('.category_edit', category_id=category.id) }}">
                {{ category.title.english }}</a>
            </td>
            <td>{{ category.type }}</td>
            <td>
              <span class="stripe" style="background: {{ category.color }}"></span>
              <span class="color">{{ category.color }}</span>
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

  </div> {# table-responsive #}

</div> {# category-container #}
