<link rel="icon" href="{{ url_for('static', filename='images/fav/favicon.ico') }}">
<link rel="apple-touch-icon" sizes="180x180"
      href="{{ url_for('static', filename='images/fav/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="192x192"
      href="{{ url_for('static', filename='images/fav/android-chrome-192x192.png') }}">
<link rel="icon" type="image/png" sizes="512x512"
      href="{{ url_for('static', filename='images/fav/android-chrome-512x512.png') }}">
<link rel="icon" type="image/png" sizes="32x32"
      href="{{ url_for('static', filename='images/fav/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16"
      href="{{ url_for('static', filename='images/fav/favicon-16x16.png') }}">