{% from "_bits.html" import form_group %}

  <div class="row">

    <div class="col-sm-3">

      <ul class="nav nav-pills nav-stacked nav-condensed">

        {% for group, grouped_phrases in phrases|groupby('group') %}

          <li class="nav-header">{{ group }}</li>

          {% for phrase in grouped_phrases %}

          {% set url = url_for('.phrase_edit', meeting_type=meeting_type, phrase_id=phrase.id) %}

            <li class="{{ active(url + '$') }}">
              <a href="{{ url }}">{{ phrase }}</a>
            </li>

          {% endfor %}

        {% endfor %}

      </ul>

    </div>

    <div class="col-sm-9">
      <form class="form-horizontal" method="POST">

        <div class="panel panel-default">

          <div class="panel-heading">
            <b>{{ form.description.label.text }}</b>
          </div>

          <div class="panel-body">
          {% for translation in form.description.translations %}
            {{ form_group(translation, input_size="10", class_="autosize") }}
          {% endfor %}
          </div>

        </div> {# panel #}

        <div class="form-actions row">
          <div class="col-sm-9">
            <button type="submit" class="btn btn-primary">
              Save changes</button>
            <small>or <a href="{{ url_for('admin.phrases') }}">
              Cancel</a></small>
          </div>
        </div> {# form-actions #}

      </form>
    </div>
  </div>
