{% set product_logo = url_for_brand_static_path(config['PRODUCT_LOGO']) %}
{% set product_side_logo = url_for_brand_static_path(
    config['PRODUCT_SIDE_LOGO']) %}


{% if participant.photo %}
  {% set participant_photo = config['FILES_PATH'] /
      (config['PATH_CUSTOM_KEY'] ~ '/' ~ participant.photo)|crop %}
{% else %}
  {% set participant_photo = None %}
{% endif %}

{% if participant.category.background %}
  {% set background = config['UPLOADED_BACKGROUNDS_DEST'] /
                      participant.category.background %}
{% else %}
  {% set background = None %}
{% endif %}


<div class="badge-container">

  <div class="stripe {% if nostripe %}nostripe{% endif %}"
       style="background: {{ participant.category.color }}">
    <h1>
      {% if g.meeting.badge_header %}
        {{ g.meeting.badge_header[participant.lang] }}
      {% else %}
        {{ g.meeting.title[participant.lang] }}
      {% endif %}
    </h1>
    <img src="{{ product_logo }}" class="logo" alt="">
    <img src="{{ product_side_logo }}" class="side-logo" alt="">
  </div> {# stripe #}

  <div class="content">
    {% if participant_photo %}
      <img src="{{ participant_photo }}" alt="" class="photo">
    {% endif %}
    <div class="description">
      <h2>
       {{ participant.first_name }}
       {{ participant.last_name|upper }}
        <small>person-representing</small>
      </h2>
    </div> {# description #}

    {% if background %}
      <div class="background">
        <img src="{{ background }}" alt="" />
      </div>
    {% endif %}

  </div> {# content #}

</div> {# container #}
