
<h5>Representing</h5>

<div class="table-responsive">

  <table class="table table-bordered table-condensed table-striped">

    <tbody>
      <tr>
        <th class="col-sm-3">{{ form.represented_country.label.text }}</th>
        <td>{{ participant.represented_country }}</td>
      </tr>
      <tr>
        <th>{{ form.represented_region.label.text }}</th>
        <td>{{ participant.represented_region }}</td>
      </tr>
      <tr>
        <th>{{ form.represented_organization.label.text }}</th>
        <td>{{ participant.represented_organization }}</td>
      </tr>
    </tbody>

  </table>

</div> {# table-responsive #}
