{% extends "_layout_pdf.html" %}

{% set badge_template = g.meeting.settings.get("badge_template",
                                                 "default") %}

{% block head %}

  <style type="text/css">
    {{ inject_static_file("css/badges/" ~ badge_template ~ ".css") }}
  </style>

{% endblock %}


{% block content %}

  {% set badge_context = inject_badge_context(participant) %}
  {% include "meetings/participant/badges/" ~ badge_template ~ ".html"
             with context %}

{% endblock %}
