{% extends "_layout_pdf.html" %}


{% block head %}

  <style type="text/css">
    {{ inject_static_file('css/badge.css') }}
  </style>

{% endblock %}


{% set product_logo = config['PRODUCT_LOGO'] %}
{% set product_side_logo = config['PRODUCT_SIDE_LOGO'] %}


{% block content %}
  {{ app}}
  <div class="container">

    <div class="stripe"
         style="background: {{ participant.category.color }}">
      <h1>
        {{ g.meeting.badge_header[participant.lang_trans] }}
      </h1>
      <img src="{{ url_for('static', filename=product_logo) }}"
           class="logo" alt="" >
      <img src="{{ url_for('static', filename=product_side_logo) }}"
           class="side-logo" alt="">
    </div> {# stripe #}

    <div class="content">
      <img src="{{ url_for('files', filename='custom_uploads/' ~ participant.photo) }}" alt="" class="photo">
      <div class="description">
        <h2>
         {{ participant.first_name }}
         {{ participant.last_name|upper }}
          <small>person-representing</small>
        </h2>
      </div> {# description #}

    </div> {# content #}

  </div> {# container #}

{% endblock %}
