{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb, form_group %}


{% set title = participant.name %}


{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [
      (url_for('meetings.participants'), 'Participants'),
      ('', title)
  ] ) }}

{% endblock %}


{% block content %}

  {{ super() }}

  <h3 class="page-title" style="margin: 0">{{ title }}</h3>
  <div class="actions">
    {% set url = url_for('.participant_edit',
                         participant_id=participant.id) %}
    <a href="{{ url }}" class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-pencil"></span> &nbsp;
      Edit participant</a>
    <a href="" class="btn btn-danger btn-sm">
      <span class="glyphicon glyphicon-remove"></span> &nbsp;
      Delete participant</a>
  </div>

  <div class="row">

    <div class="col-sm-8">

      <h5>Personal information</h5>

      <div class="table-responsive">

        <table class="table table-bordered table-condensed table-striped">

          <tbody>
            <tr>
              <th class="col-sm-3">{{ form.title.label.text }}</th>
              <td>{{ participant.title }}</td>
            </tr>
            <tr>
              <th>{{ form.first_name.label.text }}</th>
              <td>{{ participant.first_name }}</td>
            </tr>
            <tr>
              <th>{{ form.last_name.label.text }}</th>
              <td>{{ participant.last_name }}</td>
            </tr>
            <tr>
              <th>{{ form.email.label.text }}</th>
              <td>
                <a href="{{ participant.email }}">
                  {{ participant.email }}</a>
              </td>
            </tr>
            <tr>
              <th>{{ form.category_id.label.text }}</th>
              <td>{{ participant.category }}</td>
            </tr>
            <tr>
              <th>{{ form.country.label.text }}</th>
              <td>{{ participant.country }}</td>
            </tr>
          </tbody>

        </table>

      </div> {# table-responsive #}

    </div>

  </div>

{% endblock %}
