{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb, form_group %}


{% set title = "Edit participant" if participant else "Add a new participant" %}


{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

  {% if participant %}
    {{ breadcrumb( [
        (url_for('meetings.participants'), 'Participants'),
        (url_for('meetings.participant_detail', participant_id=participant.id), participant),
        ('', 'Edit')
    ] ) }}
  {% else %}
   {{ breadcrumb( [
        (url_for('meetings.participants'), 'Participants'),
        ('', title)
    ] ) }}
  {% endif %}

{% endblock %}


{% block content %}

  {{ super() }}

  <h3 class="page-title">{{ title }}</h3>

  <form class="form-horizontal" method="post">

    <fieldset>

      <div class="row">
        <div class="col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <b>Personal information</b></div>

            <div class="panel-body">
              {{ form_group(form.title, label_size="3", input_size="4") }}

              {{ form_group(form.first_name, label_size="3",
                            input_size="9",
                            options={"autofocus": ""}) }}

              {{ form_group(form.last_name, label_size="3",
                            input_size="9") }}

              {{ form_group(form.email, label_size="3",
                            input_size="9") }}

              {{ form_group(form.category_id, label_size="3",
                            input_size="9") }}

              {{ form_group(form.country, label_size="3",
                            input_size="9") }}
            </div>
          </div> {# panel #}
        </div> {# col-sm-8 #}

      </div> {# row #}

    </fieldset>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">
        Save changes</button>
      <small>or
        {% if participant %}
          {% set url = url_for('.participant_detail',
                               participant_id=participant.id) %}
        {% else %}
          {% set url = url_for('.participants') %}
        {% endif %}
        <a href="{{ url }}">Cancel</a></small>
    </div>

  </form>

{% endblock %}
