
.badges {
    padding-top: 0.30in;
    padding-left: 0.45in;
    padding-right: -0.40in;
}

.badge-container {
    float: left;
    height: 2.15in;
    margin-bottom: 0.30in;
    margin-right: 0.40in;
    width: 3.4in;
}
