body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h1 {
    padding-bottom: 10px;
    font-size: 20px!important;
}

h2 {
    font-size: 15px!important;
    padding-bottom: 20px;
}

p {
    padding: 0;
    margin: 0;
}

.badge-container {
    position: relative;
    height: 2.1in;
    page-break-after: always !important;
}

.badge-header {
    font-family: "Arial Narrow";
    padding: 6px 0;
    background: #e0ead2;
    text-align: center;
    font-size: 20px;
}

.content {
    text-align: center;
    padding-top: 10px;
}

.address {
    padding-top: 5px;
    border-top: 1px dashed #eee;
    text-align: center;
    font-size: 12px;
}

.date {
    color: #3a8242;
}


.stripe {
    position: absolute;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    color: #fff;
    bottom: 0;
}
