{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb %}

{% set title = "Edit meeting (" ~ g.meeting.acronym ~ ") phrase" %}


{% block title %} {{ title }} {% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [('', 'Phrases'),] ) }}

{% endblock %}

{% block head %}

    <style type="text/css">
    .form-actions small {
        display: none;
    }
    </style>

{% endblock %}

{% block content %}

  {{ super() }}

  <h3 class="page-title">{{ title }}</h3>

  {% with meeting_type = g.meeting.meeting_type_slug %}
    {% include "common/_phrase_edit.html" %}
  {% endwith %}

{% endblock %}
