{% extends "meetings/_base.html" %}
{% from "_bits.html" import breadcrumb %}


{% set title = "Meeting (" ~ g.meeting.acronym ~ ") emails sent" %}

{% block title %} {{ title }} {% endblock %}


{% block scripts %}

  <script>
    $(function () {
      $('#mails').dataTable({"order": []});
    });
  </script>

{% endblock %}


{% block breadcrumb %}

  {{ breadcrumb( [
      ('', 'Mails sent')
  ] ) }}

{% endblock %}


{% block content %}

  {{ super() }}

  <h3 class="page-title">{{ title }}</h3>

  <div class="table-responsive">
    <table id="mails" class="table table-bordered table-condensed">

      <thead>
        <tr>
          <th>To</th>
          <th>Name</th>
          <th>Country</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
        {% for mail in mails %}
          {% set url = url_for('.mail_detail', mail_id=mail.id) %}
          <tr>
            <td><a href="{{ url }}">{{ mail.to.email }}</a></td>
            <td>{{ mail.to.name }}</td>
            <td>{{ mail.to.country }}</td>
            <td>{{ mail.date_sent.strftime('%Y-%m-%d') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
